---
title: VMware RabbitMQ for Tanzu Application Service Release Notes
owner: London Services
---

<p class="note">
  <strong>Note:</strong> VMware Tanzu RabbitMQ for VMs is now named VMware RabbitMQ for
  Tanzu Application Service.
</p>

<%= partial vars.path_to_partials + '/upgrade-planner' %>

## <a id="2-2-3"></a> v2.2.3

**Release Date**: May 15, 2023

### Resolved Issues

This release has the following fix:

- **Failed upgrades to RabbitMQ v3.11:** Attempts to upgrade to RabbitMQ v3.11 failed for instances that
  were created before RabbitMQ v3.8.
  To upgrade such instances to RabbitMQ v3.11, install the <%= vars.product_full %> v2.1.9 tile first and
  then run the `upgrade-all-on-demand-instances` errand.

### Known Issues

This release has the following known issues:

<%= partial vars.path_to_partials + "/rabbitmq/erlang-ki" %>

### Compatibility

The following components are compatible with this release:

<table class="nice"> <th>Component</th> <th>Version</th>
  <tr>
		<td><%= vars.app_runtime_full %></td>
		<td>2.11.x, 2.12.x, 2.13.x, 3.0.x, 4.0.x</td>
	</tr>
	<tr>
		<td>Erlang</td>
		<td>25.3.2</td>
	</tr>
	<tr>
		<td>HAProxy</td>
		<td>2.6.13</td>
	</tr>
	<tr>
		<td>OSS RabbitMQ*</td>
		<td>3.10.22 and 3.11.15</td>
	</tr>
	<tr>
		<td>Stemcell</td>
		<td>1.x</td>
	</tr>
	<tr>
		<td>bpm</td>
		<td>1.2.1</td>
	</tr>
	<tr>
		<td>cf-cli</td>
		<td>1.44.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq</td>
		<td>511.0.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq-multitenant-broker</td>
		<td>147.0.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq-smoke-tests</td>
		<td>173.0.0</td>
	</tr>
	<tr>
		<td>cf-service-gateway</td>
		<td>106.0.0</td>
	</tr>
	<tr>
		<td>count-cores-indicator</td>
		<td>2.0.0</td>
	</tr>
	<tr>
		<td>loggregator-agent</td>
		<td>7.2.1</td>
	</tr>
	<tr>
		<td>on-demand-service-broker</td>
		<td>0.43.0</td>
	</tr>
	<tr>
		<td>rabbitmq-metrics</td>
		<td>109.0.0</td>
	</tr>
	<tr>
		<td>rabbitmq-on-demand-adapter</td>
		<td>251.0.0</td>
	</tr>
	<tr>
		<td>routing</td>
		<td>0.266.0</td>
	</tr>
	<tr>
		<td>service-metrics</td>
		<td>2.0.28</td>
	</tr>
</table>

<sup>*</sup> For more information, see the <a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.10.22">v3.10.22</a> and <a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.11.15">v3.11.15</a> GitHub documentation.

## <a id="2-2-2"></a> v2.2.2

**Release Date**: March 27, 2023

### Resolved Issues

This release fixes the following issues:

- **Auth code flow for accessing the RabbitMQ management interface:**
  When you configure OAuth2, access to the RabbitMQ management interface is by auth code flow. This improves security.

### Known Issues

This release has the following known issues:

- **Failed upgrades to RabbitMQ v3.11:** Attempts to upgrade to RabbitMQ v3.11 can fail for instances
that were created before RabbitMQ v3.8.

<%= partial vars.path_to_partials + "/rabbitmq/erlang-ki" %>

### Compatibility

The following components are compatible with this release:

<table class="nice"> <th>Component</th> <th>Version</th>
	<tr>
		<td><%= vars.app_runtime_full %></td>
		<td>2.11.x, 2.12.x, 2.13.x, 3.0.x, 4.0.x</td>
	</tr>
	<tr>
		<td>Erlang</td>
		<td>25.3</td>
	</tr>
	<tr>
		<td>HAProxy</td>
		<td>2.6.11</td>
	</tr>
	<tr>
		<td>OSS RabbitMQ*</td>
		<td>3.10.20 and 3.11.11</td>
	</tr>
	<tr>
		<td>Stemcell</td>
		<td>1.x</td>
	</tr>
	<tr>
		<td>bpm</td>
		<td>1.1.21</td>
	</tr>
	<tr>
		<td>cf-cli</td>
		<td>1.44.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq</td>
		<td>500.0.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq-multitenant-broker</td>
		<td>143.0.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq-smoke-tests</td>
		<td>170.0.0</td>
	</tr>
	<tr>
		<td>cf-service-gateway</td>
		<td>102.0.0</td>
	</tr>
	<tr>
		<td>loggregator-agent</td>
		<td>7.1.2</td>
	</tr>
	<tr>
		<td>on-demand-service-broker</td>
		<td>0.43.0</td>
	</tr>
	<tr>
		<td>rabbitmq-metrics</td>
		<td>105.0.0</td>
	</tr>
	<tr>
		<td>rabbitmq-on-demand-adapter</td>
		<td>245.0.0</td>
	</tr>
	<tr>
		<td>routing</td>
		<td>0.260.0</td>
	</tr>
	<tr>
		<td>service-metrics</td>
		<td>2.0.26</td>
	</tr>
</table>

<sup>*</sup> For more information, see the <a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.10.20">v3.10.20</a> and <a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.11.11">v3.11.11</a> GitHub documentation.

## <a id="2-2-1"></a> v2.2.1

**Release Date:** March 16, 2023

### Resolved Issues

This release fixes the following issues:

- The Loggregator subsystem might fail to collect logs because of a missing certificate.
- If the metrics collection is set to a negative interval to deactivate collection, the deployment fails.

### Known Issues

This release has the following known issues:

<%= partial vars.path_to_partials + "/rabbitmq/erlang-ki" %>

### Compatibility

The following components are compatible with this release:

<table class="nice">
<th>Component</th>
<th>Version</th>
  <tr>
    <td><%= vars.app_runtime_full %></td>
    <td>2.11.x, 2.12.x, 2.13.x, 3.0.x</td>
  </tr>
  <tr>
    <td>Erlang</td>
    <td>25.2.3</td>
  </tr>
  <tr>
    <td>HAProxy</td>
    <td>2.6.9</td>
  </tr>
  <tr>
    <td>OSS RabbitMQ*</td>
    <td>3.10.18</td>
  </tr>
  <tr>
    <td>Stemcell</td>
    <td>1.x</td>
  </tr>
  <tr>
    <td>bpm</td>
    <td>1.1.21</td>
  </tr>
  <tr>
    <td>cf-cli</td>
    <td>1.41.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq</td>
    <td>492.0.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq-multitenant-broker</td>
    <td>139.0.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq-smoke-tests</td>
    <td>166.0.0</td>
  </tr>
  <tr>
    <td>cf-service-gateway</td>
    <td>97.0.0</td>
  </tr>
  <tr>
    <td>loggregator-agent</td>
    <td>7.1.2</td>
  </tr>
  <tr>
    <td>on-demand-service-broker</td>
    <td>0.42.6</td>
  </tr>
  <tr>
    <td>rabbitmq-metrics</td>
    <td>103.0.0</td>
  </tr>
  <tr>
    <td>rabbitmq-on-demand-adapter</td>
    <td>240.0.0</td>
  </tr>
  <tr>
    <td>routing</td>
    <td>0.259.0</td>
  </tr>
  <tr>
    <td>service-metrics</td>
    <td>2.0.26</td>
  </tr>
</table>

<sup>*</sup> For more information, see the <a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.10.18">v3.10.18</a> GitHub documentation.

## <a id="2-2-0"></a> v2.2.0

**Release Date:** January 18, 2023

### Features

New features and changes in this release:

- Jammy Stemcell and compatibility with Tanzu Application Service v3.0.

### Known Issues

This release has the following issues:

<%= partial vars.path_to_partials + "/rabbitmq/erlang-ki" %>
- The Loggregator subsystem might fail to collect logs because of a missing certificate.
- If the metrics collection is set to a negative interval to disable collection, deployment will fail.

### Resolved Issues

This release fixes the following issues:

- [CVE-2022-41720](https://nvd.nist.gov/vuln/detail/CVE-2022-41720). The golang issue is
  [56694](https://go.dev/issue/56694). It is fixed in Go v1.19.4.
- [CVE-2022-41717](https://nvd.nist.gov/vuln/detail/CVE-2022-41717). The golang issue is
  [56350](https://go.dev/issue/56350). It is fixed in Go v1.19.4.
- [RMQFPAS-82](https://pivotal-io.atlassian.net/browse/RMQFPAS-82). The fix is in
  [loggregator-agent-release v6.5.6](https://github.com/cloudfoundry/loggregator-agent-release/releases/tag/v6.5.6).

### Compatibility

The following components are compatible with this release:

<table class="nice">
  <th>Component</th>
  <th>Version</th>
  <tr>
    <td><%= vars.app_runtime_full %></td>
    <td>2.11.x, 2.12.x, 2.13.x, 3.0.x</td>
  </tr>
  <tr>
    <td>Erlang</td>
    <td>24.3.4.7, 25.2</td>
  </tr>
  <tr>
    <td>HAProxy</td>
    <td>2.6.7</td>
  </tr>
  <tr>
    <td>OSS RabbitMQ<sup>*</sup></td>
    <td>3.9.27, 3.10.13</td>
  </tr>
  <tr>
    <td>Stemcell</td>
    <td>621.x</td>
  </tr>
  <tr>
    <td>bpm</td>
    <td>1.1.21</td>
  </tr>
  <tr>
    <td>cf-cli</td>
    <td>1.41.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq</td>
    <td>478.0.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq-multitenant-broker</td>
    <td>128.0.0</td>
  </tr>
  <tr>
    <td>cf-service-gateway</td>
    <td>91.0.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq-smoke-tests</td>
    <td>154.0.0</td>
  </tr>
  <tr>
    <td>loggregator-agent</td>
    <td>7.0.1</td>
  </tr>
  <tr>
    <td>on-demand-service-broker</td>
    <td>0.42.6</td>
  </tr>
  <tr>
    <td>rabbitmq-metrics</td>
    <td>96.0.0</td>
  </tr>
  <tr>
    <td>rabbitmq-on-demand-adapter</td>
    <td>227.0.0</td>
  </tr>
  <tr>
    <td>routing</td>
    <td>0.254.0</td>
  </tr>
  <tr>
    <td>service-metrics</td>
    <td>2.0.24</td>
  </tr>
</table>

<sup>*</sup> For more information, see the <a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.10.13">v3.10.13</a> GitHub documentation.

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from the dropdown at the
top of this page.
