---
title: VMware Tanzu RabbitMQ for VMs Release Notes
owner: London Services
---

<%= partial vars.path_to_partials + '/upgrade-planner' %>

## <a id="2-1-4"></a> v2.1.4

**Release Date**: September 26, 2022

### Features

New features and changes in this release:

* You can now specify a different set of VM extensions for each on-demand plan, in addition
  to global VM extensions that apply to all on-demand service instances.

* This release ships with the latest HAProxy v2, upgraded from v1. For multitenant service
  instances, if you are using an HTTP client to connect to the RabbitMQ Management UI through HAProxy,
  and this client doesn't conform with the HTTP spec (for example, by treating HTTP headers as
  case-sensitive), you might see errors when connecting to the UI after upgrading.

### Known Issues

This release has the following known issues:

<%= partial vars.path_to_partials + '/rabbitmq/erlang-ki' %>

### Compatibility

The following components are compatible with this release:

<table class="nice"> <th>Component</th> <th>Version</th> 	<tr>
		<td><%= vars.app_runtime_full %></td>
		<td>2.11.x, 2.12.x, 2.13.x</td>
	</tr>
	<tr>
		<td>Erlang</td>
		<td>24.3.4.4</td>
	</tr>
	<tr>
		<td>HAProxy</td>
		<td>2.6.5</td>
	</tr>
	<tr>
		<td>OSS RabbitMQ<sup>*</sup></td>
		<td>3.9.22, 3.10.7</td>
	</tr>
	<tr>
		<td>Stemcell</td>
		<td>621.x</td>
	</tr>
	<tr>
		<td>bpm</td>
		<td>1.1.19</td>
	</tr>
	<tr>
		<td>cf-cli</td>
		<td>1.39.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq</td>
		<td>456.0.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq-multitenant-broker</td>
		<td>120.0.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq-smoke-tests</td>
		<td>142.0.0</td>
	</tr>
	<tr>
		<td>cf-service-gateway</td>
		<td>82.0.0</td>
	</tr>
	<tr>
		<td>loggregator-agent</td>
		<td>6.5.0</td>
	</tr>
	<tr>
		<td>on-demand-service-broker</td>
		<td>0.42.5</td>
	</tr>
	<tr>
		<td>rabbitmq-metrics</td>
		<td>87.0.0</td>
	</tr>
	<tr>
		<td>rabbitmq-on-demand-adapter</td>
		<td>219.0.0</td>
	</tr>
	<tr>
		<td>routing</td>
		<td>0.238.0</td>
	</tr>
	<tr>
		<td>service-metrics</td>
		<td>2.0.19</td>
	</tr>
</table>

<sup>*</sup> For more information, see the
<a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.9.22">v3.9.22</a> and
<a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.10.7">v3.10.7</a> GitHub documentation.

## <a id="2-1-3"></a> v2.1.3

**Release Date**: August 22, 2022

### Resolved Issue

This release fixes the following issue:

* **RabbitMQ system metrics are now available through the Log Cache cf CLI plug-in:**
  This function requires you to enable the <strong>Prom Scraper Compatibility with Log Cache</strong>
  property in <strong>Global settings for on-demand plans</strong>.
  For more information, see [Configure Global Settings](install-config.html#global).

  <p class="note">
    <strong>Note:</strong> If you are upgrading from a previous version of <%= vars.product_short %>,
    this property is disabled by default to prevent discontinuity in emitted metrics after upgrading.
    If you enable this property and click <strong>Apply Changes</strong>, RabbitMQ system metrics
    are emitted under a new <code>source_id</code>, which is the GUID of the service instance.
  </p>

### Known Issues

This release has the following known issues:

<%= partial vars.path_to_partials + '/rabbitmq/erlang-ki' %>

### Compatibility

The following components are compatible with this release:

<table class="nice">
    <th>Component</th> <th>Version</th>
    <tr>
        <td><%= vars.app_runtime_full %></td>
        <td>2.11.x, 2.12.x, 2.13.x</td>
    </tr>
    <tr>
        <td>Erlang</td>
        <td>24.3.4.2</td>
    </tr>
    <tr>
        <td>HAProxy</td>
        <td>1.8.30</td>
    </tr>
    <tr>
        <td>OSS RabbitMQ<sup>*</sup></td>
        <td>3.9.21, 3.10.6</td>
    </tr>
    <tr>
        <td>Stemcell</td>
        <td>621.x</td>
    </tr>
    <tr>
        <td>bpm</td>
        <td>1.1.18</td>
    </tr>
    <tr>
        <td>cf-cli</td>
        <td>1.38.0</td>
    </tr>
    <tr>
        <td>cf-rabbitmq</td>
        <td>448.0.0</td>
    </tr>
    <tr>
        <td>cf-rabbitmq-multitenant-broker</td>
        <td>118.0.0</td>
    </tr>
    <tr>
        <td>cf-rabbitmq-smoke-tests</td>
        <td>133.0.0</td>
    </tr>
    <tr>
        <td>cf-service-gateway</td>
        <td>77.0.0</td>
    </tr>
    <tr>
        <td>loggregator-agent</td>
        <td>6.4.3</td>
    </tr>
    <tr>
        <td>on-demand-service-broker</td>
        <td>0.42.4</td>
    </tr>
    <tr>
        <td>rabbitmq-metrics</td>
        <td>82.0.0</td>
    </tr>
    <tr>
        <td>rabbitmq-on-demand-adapter</td>
        <td>215.0.0</td>
    </tr>
    <tr>
        <td>routing</td>
        <td>0.237.0</td>
    </tr>
    <tr>
        <td>service-metrics</td>
        <td>2.0.17</td>
    </tr>
</table>

<sup>*</sup> For more information, see the
<a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.9.21">v3.9.21</a> and
<a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.10.6">v3.10.6</a> GitHub documentation.

## <a id="2-1-2"></a> v2.1.2

**Release Date**: June 24, 2022

### Features

This release contains the following change:

* **RabbitMQ v3.10 is now available in this version.**
Service instances running on RabbitMQ v3.9 continue to run on v3.9 until configured to run on v3.10.

### Security Fixes

* **Important:** Erlang has been updated to v24.3.4.2 to resolve [CVE-2022-37026](https://nvd.nist.gov/vuln/detail/CVE-2022-37026).

### Resolved Issues

This release fixes the following issue:

* **LDAP authentication no longer fails when connecting over TLS:**
For more information about this issue, see
[issue 4726](https://github.com/rabbitmq/rabbitmq-server/discussions/4726) on GitHub.

### Known Issues

This release has the following known issues:

<%= partial vars.path_to_partials + '/rabbitmq/erlang-ki' %>

<%= partial vars.path_to_partials + '/rabbitmq/ki-rmq-cluster-metrics' %>

### Compatibility

The following components are compatible with this release:

<table class="nice">
  <th>Component</th>
  <th>Version</th>
  <tr>
        <td><%= vars.app_runtime_full %></td>
        <td>2.11.x, 2.12.x, 2.13.x</td>
    </tr>
    <tr>
        <td>Erlang</td>
        <td>24.3.4.2</td>
    </tr>
    <tr>
        <td>HAProxy</td>
        <td>1.8.30</td>
    </tr>
    <tr>
        <td>OSS RabbitMQ<sup>*</sup></td>
        <td>3.9.20, 3.10.5</td>
    </tr>
    <tr>
        <td>Stemcell</td>
        <td>621.x</td>
    </tr>
    <tr>
        <td>bpm</td>
        <td>1.1.18</td>
    </tr>
    <tr>
        <td>cf-cli</td>
        <td>1.38.0</td>
    </tr>
    <tr>
        <td>cf-rabbitmq</td>
        <td>443.0.0</td>
    </tr>
    <tr>
        <td>cf-rabbitmq-multitenant-broker</td>
        <td>115.0.0</td>
    </tr>
  <tr>
    <td>cf-service-gateway</td>
    <td>75.0.0</td>
  </tr>
    <tr>
        <td>cf-rabbitmq-smoke-tests</td>
        <td>131.0.0</td>
    </tr>
    <tr>
        <td>loggregator-agent</td>
        <td>6.4.2</td>
    </tr>
    <tr>
        <td>on-demand-service-broker</td>
        <td>0.42.4</td>
    </tr>
    <tr>
        <td>rabbitmq-metrics</td>
        <td>79.0.0</td>
    </tr>
    <tr>
        <td>rabbitmq-on-demand-adapter</td>
        <td>211.0.0</td>
    </tr>
    <tr>
        <td>routing</td>
        <td>0.235.0</td>
    </tr>
    <tr>
        <td>service-metrics</td>
        <td>2.0.16</td>
    </tr>
</table>

<sup>*</sup> For more information, see the
<a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.9.20">v3.9.20</a> and
<a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.10.5">v3.10.5</a> GitHub documentation.

## <a id="2-1-1"></a> v2.1.1

**Release Date**: May 24, 2022

### Features

New features and changes in this release:

- Updates RabbitMQ version to fix a CVE.

### Known Issues

This release has the following issues:

<p class="note important">
    <strong>Important:</strong> This version contains a release of Erlang that is affected by
    <a href="https://nvd.nist.gov/vuln/detail/CVE-2022-37026">CVE-2022-37026</a>.
    VMware strongly recommends upgrading to <%= vars.product_full %> v2.1.2 or later as soon as possible.
</p>

<%= partial vars.path_to_partials + "/rabbitmq/erlang-ki" %>

<%= partial vars.path_to_partials + '/rabbitmq/ki-ldap-over-tls' %>

<%= partial vars.path_to_partials + '/rabbitmq/ki-rmq-cluster-metrics' %>


### Compatibility

The following components are compatible with this release:

<table class="nice">
  <th>Component</th>
  <th>Version</th>
  <tr>
        <td><%= vars.app_runtime_full %></td>
        <td>2.11.x, 2.12.x, 2.13.x</td>
    </tr>
  <tr>
    <td>Erlang</td>
    <td>24.3.4</td>
  </tr>
  <tr>
    <td>HAProxy</td>
    <td>1.8.30</td>
  </tr>
  <tr>
    <td>OSS RabbitMQ<sup>*</sup></td>
    <td>3.9.18</td>
  </tr>
  <tr>
    <td>Stemcell</td>
    <td>621.x</td>
  </tr>
    <tr>
        <td>bpm</td>
        <td>1.1.17</td>
    </tr>
  <tr>
    <td>cf-cli</td>
        <td>1.38.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq</td>
        <td>440.0.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq-multitenant-broker</td>
        <td>115.0.0</td>
  </tr>
  <tr>
    <td>cf-service-gateway</td>
        <td>74.0.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq-smoke-tests</td>
        <td>130.0.0</td>
  </tr>
  <tr>
    <td>loggregator-agent</td>
        <td>6.4.1</td>
  </tr>
  <tr>
    <td>on-demand-service-broker</td>
        <td>0.42.4</td>
  </tr>
  <tr>
    <td>rabbitmq-metrics</td>
        <td>79.0.0</td>
  </tr>
  <tr>
    <td>rabbitmq-on-demand-adapter</td>
        <td>210.0.0</td>
  </tr>
  <tr>
    <td>routing</td>
        <td>0.232.0</td>
  </tr>
  <tr>
    <td>service-metrics</td>
        <td>2.0.16</td>
  </tr>
</table>

<sup>*</sup> For more information, see the <a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.9.18">v3.9.18</a> GitHub documentation.

## <a id="2-1-0"></a> v2.1.0

**Release Date**: May 18, 2022

### Features

New features and changes in this release:

* **<%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>) v2.13 Support:**
New changes to the log collection architecture within <%= vars.app_runtime_abbr %> v2.13 required
changes to <%= vars.product_full %> to support existing metrics flows.
As a result, <%= vars.product_full %> v2.0.x and earlier is only compatible with
<%= vars.app_runtime_abbr %> v2.12 and earlier.
If you are upgrading your <%= vars.app_runtime_abbr %> installation to v2.13,
you must also upgrade <%= vars.product_full %> to version v2.1.

* **RabbitMQ v3.9:** RabbitMQ v3.9 is now the default installed version. On-demand instances
that are currently running RabbitMQ version v3.8 are upgraded to
RabbitMQ v3.9 if you run the `upgrade-all-service-instances` errand
when installing this release.

    Important changes in RabbitMQ v3.9 include Streams, Erlang v24 support and
    JSON logging. For more information about these features, see
    the [RabbitMQ v3.9 release page](https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.9.15) in GitHub.

### Known Issues

This release has the following issues:

<p class="note important">
    <strong>Important:</strong> This version contains a release of Erlang that is affected by
    <a href="https://nvd.nist.gov/vuln/detail/CVE-2022-37026">CVE-2022-37026</a>.
    VMware strongly recommends upgrading to <%= vars.product_full %> v2.1.2 or later as soon as possible.
</p>

<%= partial vars.path_to_partials + "/rabbitmq/erlang-ki" %>

<%= partial vars.path_to_partials + '/rabbitmq/ki-ldap-over-tls' %>

<%= partial vars.path_to_partials + '/rabbitmq/ki-rmq-cluster-metrics' %>

### Compatibility

The following components are compatible with this release:

<table class="nice">
  <th>Component</th>
  <th>Version</th>
  <tr>
        <td><%= vars.app_runtime_full %></td>
        <td>2.11.x, 2.12.x, 2.13.x</td>
    </tr>
  <tr>
    <td>Erlang</td>
    <td>24.3.3</td>
  </tr>
  <tr>
    <td>HAProxy</td>
    <td>1.8.30</td>
  </tr>
  <tr>
    <td>OSS RabbitMQ<sup>*</sup></td>
    <td>3.9.15</td>
  </tr>
  <tr>
    <td>Stemcell</td>
    <td>621.x</td>
  </tr>
    <tr>
        <td>bpm</td>
        <td>1.1.17</td>
    </tr>
  <tr>
    <td>cf-cli</td>
        <td>1.38.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq</td>
        <td>434.0.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq-multitenant-broker</td>
        <td>114.0.0</td>
  </tr>
  <tr>
    <td>cf-service-gateway</td>
        <td>72.0.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq-smoke-tests</td>
        <td>129.0.0</td>
  </tr>
  <tr>
    <td>loggregator-agent</td>
        <td>6.4.0</td>
  </tr>
  <tr>
    <td>on-demand-service-broker</td>
        <td>0.42.4</td>
  </tr>
  <tr>
    <td>rabbitmq-metrics</td>
        <td>78.0.0</td>
  </tr>
  <tr>
    <td>rabbitmq-on-demand-adapter</td>
        <td>209.0.0</td>
  </tr>
  <tr>
    <td>routing</td>
        <td>0.232.0</td>
  </tr>
  <tr>
    <td>service-metrics</td>
        <td>2.0.16</td>
  </tr>
</table>

<sup>*</sup> For more information, see the <a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.9.15">v3.9.15</a> GitHub documentation.

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from the dropdown at the
top of this page.
