---
title: Tanzu RabbitMQ for Tanzu Application Service Release Notes
owner: London Services
---

This topic describes the changes in this minor release of <%= vars.product_full %>.

<p class="note">
  <span class="note__title">Note</span> VMware Tanzu RabbitMQ for VMs is now named VMware Tanzu RabbitMQ for Tanzu Application Service.
</p>

<%= partial vars.path_to_partials + '/upgrade-planner' %>

<p class="note">
  <span class="note__title">Note</span> <%= vars.product_short %> contains RabbitMQ 3.13. Before Upgrading to <%= vars.product_short %> v2.4, all service instances must be running RabbitMQ 3.12 or newer.
</p>

## <a id="2-4-0"></a> v2.4.0

**Release Date**: May 29, 2024

### Features

New features and changes in this release:

- Warm Standby Replication is now supported.
- Audit Logger is now supported.

### Known Issues

This release has the following known issues:

<%= partial vars.path_to_partials + "/rabbitmq/erlang-ki" %>

### Resolved Issues

This release has the following resolved issues:

- Application Security Groups are properly created for all spaces when smoke tests are run in parallel.

### Compatibility

The following components are compatible with this release:

<table class="nice">
 <th>Component</th>
 <th>Version</th>
 	<tr>
		<td><%= vars.app_runtime_full %></td>
		<td>4.0.x, 5.0.x, 6.0.x</td>
	</tr>
	<tr>
		<td>Erlang</td>
		<td>26.2.5</td>
	</tr>
	<tr>
		<td>HAProxy</td>
		<td>2.6.17</td>
	</tr>
	<tr>
		<td>OSS RabbitMQ*</td>
		<td>3.13.3</td>
	</tr>
	<tr>
		<td>Stemcell</td>
		<td>1.x</td>
	</tr>
	<tr>
		<td>bpm</td>
		<td>1.2.19</td>
	</tr>
	<tr>
		<td>cf-cli</td>
		<td>1.63.0</td>
	</tr>
	<tr>
		<td>tanzu-rabbitmq</td>
		<td>612.0.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq-multitenant-broker</td>
		<td>197.0.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq-smoke-tests</td>
		<td>236.0.0</td>
	</tr>
	<tr>
		<td>cf-service-gateway</td>
		<td>152.0.0</td>
	</tr>
	<tr>
		<td>count-cores-indicator</td>
		<td>2.0.0</td>
	</tr>
	<tr>
		<td>loggregator-agent</td>
		<td>8.1.1</td>
	</tr>
	<tr>
		<td>on-demand-service-broker</td>
		<td>0.46.0</td>
	</tr>
	<tr>
		<td>rabbitmq-metrics</td>
		<td>152.0.0</td>
	</tr>
	<tr>
		<td>rabbitmq-on-demand-adapter</td>
		<td>325.0.0</td>
	</tr>
	<tr>
		<td>routing</td>
		<td>0.298.0</td>
	</tr>
	<tr>
		<td>service-metrics</td>
		<td>2.0.37</td>
	</tr>
</table>

<sup>*</sup> For more information, see the <a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.13.3">v3.13.3</a> GitHub documentation.

## <a id="view"></a> View Release Notes for another Version

To view the release notes for another product version, select the version from the drop-down menu at
the top of this page.
