---
title: VMware Tanzu RabbitMQ for VMs Release Notes
owner: London Services
---

<%= partial vars.path_to_partials + '/upgrade-planner' %>

<p class="note breaking">
  <strong>Breaking Change:</strong> As of <%= vars.product_short %> v2.0, the format of the
  metrics emitted through the Loggregator system has changed.
  If you were using the Loggregator Firehose or Healthwatch to observe <%= vars.product_short %>
  metrics in v1.x, you might need to alter any dashboards or queries previously configured to
  match the new metric names.
  For a list of the changes made in v2.0 to metric names, see
  <a href="./migrate-2-0-metrics.html">Migrating Metrics from <%= vars.product_short %> v1.x to v2.0</a>.
</p>

## <a id="2-0-17"></a> v2.0.17

**Release Date**: November 10, 2022

### Security Fixes

This release includes the following security fix:

* **golang:** Updated to v1.19.2 to fix CVEs. For more information, see
  the [golang](https://github.com/golang/go/issues?q=milestone%3AGo1.19.2+label%3ACherryPickApproved)
  repository in GitHub.

### Resolved Issues

This release has the following fix:

* **The `prom_scraper` BOSH job no longer generates multiple error logs about metrics scraping failures:**
  This release fixes the error log spam caused by TLS certification failures when using on-demand service instances.

### Known Issues

This release has the following known issue:

<%= partial vars.path_to_partials + '/rabbitmq/erlang-ki' %>

### Compatibility

The following components are compatible with this release:

<table class="nice">
  <th>Component</th>
  <th>Version</th>
  <tr>
		<td><%= vars.app_runtime_full %></td>
		<td>2.7.x, 2.8.x, 2.9.x, 2.10.x, 2.11.x, 2.12.x</td>
	</tr>
	<tr>
		<td>Erlang</td>
		<td>24.3.4.6, 25.1.1</td>
	</tr>
	<tr>
		<td>HAProxy</td>
		<td>2.6.6</td>
	</tr>
	<tr>
		<td>OSS RabbitMQ*</td>
		<td>3.8.34, 3.9.20</td>
	</tr>
	<tr>
		<td>Stemcell</td>
		<td>621.x</td>
	</tr>
	<tr>
		<td>bpm</td>
		<td>1.1.19</td>
	</tr>
	<tr>
		<td>cf-cli</td>
		<td>1.41.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq</td>
		<td>464.0.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq-multitenant-broker</td>
		<td>122.0.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq-smoke-tests</td>
		<td>144.0.0</td>
	</tr>
	<tr>
		<td>cf-service-gateway</td>
		<td>84.0.0</td>
	</tr>
	<tr>
		<td>loggregator-agent</td>
		<td>6.5.2</td>
	</tr>
	<tr>
		<td>on-demand-service-broker</td>
		<td>0.42.5</td>
	</tr>
	<tr>
		<td>rabbitmq-metrics</td>
		<td>89.0.0</td>
	</tr>
	<tr>
		<td>rabbitmq-on-demand-adapter</td>
		<td>222.0.0</td>
	</tr>
	<tr>
		<td>routing</td>
		<td>0.244.0</td>
	</tr>
	<tr>
		<td>service-metrics</td>
		<td>2.0.22</td>
	</tr>
</table>

<sup>*</sup> For more information, see the
<a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.8.34">v3.8.34</a> and
<a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.9.20">v3.9.20</a> GitHub documentation.

## <a id="2-0-16"></a> v2.0.16

**Release Date**: June 24, 2022

### Security Fixes

* **Important:** Erlang has been updated to v24.3.4.2 to resolve [CVE-2022-37026](https://nvd.nist.gov/vuln/detail/CVE-2022-37026).

### Resolved Issues

* LDAP authentication no longer fails in some cases where connecting over TLS.
For more information, see [issue 4726](https://github.com/rabbitmq/rabbitmq-server/discussions/4726)
on GitHub.

### Known Issues

This release has the following known issue:

<%= partial vars.path_to_partials + '/rabbitmq/erlang-ki' %>

### Compatibility

The following components are compatible with this release:

<table class="nice">
  <th>Component</th>
  <th>Version</th>
  <tr>
		<td><%= vars.app_runtime_full %></td>
		<td>2.7.x, 2.8.x, 2.9.x, 2.10.x, 2.11.x, 2.12.x</td>
	</tr>
	<tr>
		<td>Erlang</td>
		<td>24.3.4.2</td>
	</tr>
	<tr>
		<td>HAProxy</td>
		<td>1.8.30</td>
	</tr>
	<tr>
		<td>OSS RabbitMQ*</td>
		<td>3.8.34, 3.9.20</td>
	</tr>
	<tr>
		<td>Stemcell</td>
		<td>621.x</td>
	</tr>
	<tr>
		<td>bpm</td>
		<td>1.1.18</td>
	</tr>
	<tr>
		<td>cf-cli</td>
		<td>1.38.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq</td>
		<td>443.0.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq-multitenant-broker</td>
		<td>115.0.0</td>
	</tr>
  <tr>
    <td>cf-service-gateway</td>
    <td>75.0.0</td>
  </tr>
	<tr>
		<td>cf-rabbitmq-smoke-tests</td>
		<td>131.0.0</td>
	</tr>
	<tr>
		<td>loggregator-agent</td>
		<td>6.4.2</td>
	</tr>
	<tr>
		<td>on-demand-service-broker</td>
		<td>0.42.4</td>
	</tr>
	<tr>
		<td>rabbitmq-metrics</td>
		<td>79.0.0</td>
	</tr>
	<tr>
		<td>rabbitmq-on-demand-adapter</td>
		<td>211.0.0</td>
	</tr>
	<tr>
		<td>routing</td>
		<td>0.235.0</td>
	</tr>
	<tr>
		<td>service-metrics</td>
		<td>2.0.16</td>
	</tr>
</table>

<sup>*</sup> For more information, see the
<a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.8.34">v3.8.34</a> and
<a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.9.20">v3.9.20</a> GitHub documentation.

## <a id="2-0-15"></a> v2.0.15

**Release Date**: May 24, 2022

### Resolved Issues

This release fixes the following issues:

- Updates RabbitMQ version to fix a CVE.

### Known Issues

This release has the following known issues:

<p class="note important">
    <strong>Important:</strong> This version contains a release of Erlang that is affected by
    <a href="https://nvd.nist.gov/vuln/detail/CVE-2022-37026">CVE-2022-37026</a>.
    VMware strongly recommends upgrading to <%= vars.product_full %> v2.0.16 or later as soon as possible.
</p>
- Service instances that use LDAP authentication over TLS can fail in some cases. This is fixed in v2.0.16. For more information about the issue, see [issue 4726](https://github.com/rabbitmq/rabbitmq-server/discussions/4726) on GitHub.
<%= partial vars.path_to_partials + '/rabbitmq/erlang-ki' %>

### Compatibility

The following components are compatible with this release:

<table class="nice">
  <th>Component</th>
  <th>Version</th>
  <tr>
		<td><%= vars.app_runtime_full %></td>
		<td>2.7.x, 2.8.x, 2.9.x, 2.10.x, 2.11.x, 2.12.x</td>
	</tr>
	<tr>
		<td>Erlang</td>
		<td>24.3.4</td>
	</tr>
	<tr>
		<td>HAProxy</td>
		<td>1.8.30</td>
	</tr>
	<tr>
		<td>OSS RabbitMQ*</td>
		<td>3.9.18, 3.8.32</td>
	</tr>
	<tr>
		<td>Stemcell</td>
		<td>621.x</td>
	</tr>
	<tr>
		<td>bpm</td>
		<td>1.1.18</td>
	</tr>
	<tr>
		<td>cf-cli</td>
		<td>1.38.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq</td>
		<td>440.0.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq-multitenant-broker</td>
		<td>115.0.0</td>
	</tr>
  <tr>
    <td>cf-service-gateway</td>
    <td>74.0.0</td>
  </tr>
	<tr>
		<td>cf-rabbitmq-smoke-tests</td>
		<td>130.0.0</td>
	</tr>
	<tr>
		<td>loggregator-agent</td>
		<td>6.4.1</td>
	</tr>
	<tr>
		<td>on-demand-service-broker</td>
		<td>0.42.4</td>
	</tr>
	<tr>
		<td>rabbitmq-metrics</td>
		<td>79.0.0</td>
	</tr>
	<tr>
		<td>rabbitmq-on-demand-adapter</td>
		<td>210.0.0</td>
	</tr>
	<tr>
		<td>routing</td>
		<td>0.232.0</td>
	</tr>
	<tr>
		<td>service-metrics</td>
		<td>2.0.16</td>
	</tr>\n</table>

<sup>*</sup> For more information, see the
<a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.8.32">v3.8.32</a> and
<a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.9.18">v3.9.18</a> GitHub documentation.

## <a id="2-0-14"></a> v2.0.14

**Release Date**: May 12, 2022

### Features

This release has the following change:

On-Demand instances using TLS now contain the static URL <code>metrics.rabbitmq.pcf</code> in the
Subject Alternative Name of the RabbitMQ server TLS certificate.

### Known Issues

This release has the following known issues:

<p class="note important">
    <strong>Important:</strong> This version contains a release of Erlang that is affected by
    <a href="https://nvd.nist.gov/vuln/detail/CVE-2022-37026">CVE-2022-37026</a>.
    VMware strongly recommends upgrading to <%= vars.product_full %> v2.0.16 or later as soon as possible.
</p>
<%= partial vars.path_to_partials + '/rabbitmq/erlang-ki' %>

### Compatibility

The following components are compatible with this release:

<table class="nice">
  <th>Component</th>
  <th>Version</th>
  <tr>
    <td><%= vars.app_runtime_full %></td>
    <td>2.7.x, 2.8.x, 2.9.x, 2.10.x, 2.11.x, 2.12.x</td>
  </tr>
  <tr>
    <td>Erlang</td>
    <td>24.3.3</td>
  </tr>
  <tr>
    <td>HAProxy</td>
    <td>1.8.30</td>
  </tr>
  <tr>
    <td>OSS RabbitMQ*</td>
    <td>3.8.29, 3.9.15</td>
  </tr>
  <tr>
    <td>Stemcell</td>
    <td>621.x</td>
  </tr>
  <tr>
    <td>bpm</td>
    <td>1.1.17</td>
  </tr>
  <tr>
    <td>cf-cli</td>
    <td>1.38.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq</td>
    <td>433.0.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq-multitenant-broker</td>
    <td>114.0.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq-smoke-tests</td>
    <td>128.0.0</td>
  </tr>
  <tr>
    <td>cf-service-gateway</td>
    <td>71.0.0</td>
  </tr>
  <tr>
    <td>loggregator-agent</td>
    <td>6.3.13</td>
  </tr>
  <tr>
    <td>on-demand-service-broker</td>
    <td>0.42.4</td>
  </tr>
  <tr>
    <td>rabbitmq-metrics</td>
    <td>77.0.0</td>
  </tr>
  <tr>
    <td>rabbitmq-on-demand-adapter</td>
    <td>209.0.0</td>
  </tr>
  <tr>
    <td>routing</td>
    <td>0.232.0</td>
  </tr>
  <tr>
    <td>service-metrics</td>
    <td>2.0.16</td>
  </tr>
</table>

<sup>*</sup> For more information, see the
<a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.8.29">v3.8.29</a> and
<a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.9.15">v3.9.15</a> GitHub documentation.

## <a id="2-0-13"></a> v2.0.13

**Release Date**: April 28, 2022

### Resolved Issues

This release has the following fixes:

- **TLS no longer prevents metric exporting:**
Metrics can now be exported to the Firehose when TLS is enabled.
- **TLS no longer prevents metric scraping:**
Healthwatch v2 can now scrape metrics from on-demand instances when TLS is enabled.
- **RAFT log crashes no longer cause quorum queues to fail:**
If a RAFT log process crashes and a quorum queue member attempts to write to the log while it is unavailable, the quorum queue no longer crashes.

### Known Issues

This release has the following known issues:

<p class="note important">
    <strong>Important:</strong> This version contains a release of Erlang that is affected by
    <a href="https://nvd.nist.gov/vuln/detail/CVE-2022-37026">CVE-2022-37026</a>.
    VMware strongly recommends upgrading to <%= vars.product_full %> v2.0.16 or later as soon as possible.
</p>
<%= partial vars.path_to_partials + '/rabbitmq/erlang-ki' %>

### Compatibility

The following components are compatible with this release:

<table class="nice"> <th>Component</th> <th>Version</th>
  <tr>
    <td><%= vars.app_runtime_full %></td>
    <td>2.7.x, 2.8.x, 2.9.x, 2.10.x, 2.11.x, 2.12.x</td>
  </tr>
  <tr>
    <td>Erlang</td>
    <td>24.3.3</td>
  </tr>
  <tr>
    <td>HAProxy</td>
    <td>1.8.30</td>
  </tr>
  <tr>
    <td>OSS RabbitMQ*</td>
    <td>3.8.29, 3.9.15</td>
  </tr>
  <tr>
    <td>Stemcell</td>
    <td>621.x</td>
  </tr>
  <tr>
    <td>bpm</td>
    <td>1.1.16</td>
  </tr>
  <tr>
    <td>cf-cli</td>
    <td>1.38.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq</td>
    <td>433.0.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq-multitenant-broker</td>
    <td>114.0.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq-smoke-tests</td>
    <td>128.0.0</td>
  </tr>
  <tr>
    <td>cf-service-gateway</td>
    <td>71.0.0</td>
  </tr>
  <tr>
    <td>loggregator-agent</td>
    <td>6.3.11</td>
  </tr>
  <tr>
    <td>on-demand-service-broker</td>
    <td>0.42.4</td>
  </tr>
  <tr>
    <td>rabbitmq-metrics</td>
    <td>77.0.0</td>
  </tr>
  <tr>
    <td>rabbitmq-on-demand-adapter</td>
    <td>207.0.0</td>
  </tr>
  <tr>
    <td>routing</td>
    <td>0.231.0</td>
  </tr>
  <tr>
    <td>service-metrics</td>
    <td>2.0.15</td>
  </tr>
</table>

<sup>*</sup> For more information, see the
<a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.8.25">v3.8.29</a> and
<a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.9.8">v3.9.15</a> GitHub documentation.

## <a id="2-0-12"></a> v2.0.12

**Release Date**: April 19, 2022

### Resolved Issues

This release has the following fixes:

- **Process leak fix:** Routing release v0.231.0 fixes a process leak caused by constant reloading of HAProxy. For more information, see the [release notes](https://github.com/cloudfoundry/routing-release/releases/tag/0.231.0) in GitHub.
- **Updated OpenSSL to v1.1.1n:** Updated OpenSSL to v1.1.1n to address [CVE-2022-0778](https://www.cve.org/CVERecord?id=CVE-2022-0778).
- **Deleting pre-provisioned RabbitMQ v3.9 no longer causes failures:** Deleting a pre-provisioned
  RabbitMQ v3.9 service instance no longer causes every other attempt when running
  <code>cf delete-service</code> to fail.

### Known Issues

This release has the following known issues:

<p class="note important">
    <strong>Important:</strong> This version contains a release of Erlang that is affected by
    <a href="https://nvd.nist.gov/vuln/detail/CVE-2022-37026">CVE-2022-37026</a>.
    VMware strongly recommends upgrading to <%= vars.product_full %> v2.0.16 or later as soon as possible.
</p>
- **TLS can prevent metric exporting:** Metrics can't be exported to the Firehose when TLS is enabled.
- **TLS can prevent metric scraping:** Healthwatch v2 can't scrape metrics from on-demand instances when TLS is enabled.
- **RAFT log crash can cause Quourm Queues to crash:** If a RAFT log process crashes and a quorum queue member attempts to write to the log while it is unavailable, the quorum queue also crashes, causing further unavailability.
<%= partial vars.path_to_partials + "/rabbitmq/erlang-ki" %>

### Compatibility

The following components are compatible with this release:

<table class="nice">
  <th>Component</th>
  <th>Version</th>
  <tr>
    <td><%= vars.app_runtime_full %></td>
    <td>2.7.x, 2.8.x, 2.9.x, 2.10.x, 2.11.x, 2.12.x</td>
  </tr>
  <tr>
    <td>Erlang</td>
    <td>24.3.2</td>
  </tr>
  <tr>
    <td>HAProxy</td>
    <td>1.8.30</td>
  </tr>
  <tr>
    <td>OSS RabbitMQ*</td>
    <td>3.8.28 3.9.14</td>
  </tr>
  <tr>
    <td>Stemcell</td>
    <td>621.x</td>
  </tr>
  <tr>
    <td>bpm</td>
    <td>1.1.16</td>
  </tr>
  <tr>
    <td>cf-cli</td>
    <td>1.38.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq</td>
    <td>428.0.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq-multitenant-broker</td>
    <td>112.0.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq-smoke-tests</td>
    <td>126.0.0</td>
  </tr>
  <tr>
    <td>cf-service-gateway</td>
    <td>69.0.0</td>
  </tr>
  <tr>
    <td>loggregator-agent</td>
    <td>6.3.8</td>
  </tr>
  <tr>
    <td>on-demand-service-broker</td>
    <td>0.42.4</td>
  </tr>
  <tr>
    <td>rabbitmq-metrics</td>
    <td>75.0.0</td>
  </tr>
  <tr>
    <td>rabbitmq-on-demand-adapter</td>
    <td>205.0.0</td>
  </tr>
  <tr>
    <td>routing</td>
    <td>0.231.0</td>
  </tr>
  <tr>
    <td>service-metrics</td>
    <td>2.0.15</td>
  </tr>
</table>

<sup>*</sup> For more information, see the
<a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.8.28">v3.8.28</a> and
<a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.9.14">v3.9.14</a> GitHub documentation.

## <a id="2-0-11"></a> v2.0.11

**Release Date**: March 9, 2022

### Features

New features and changes in this release:

* **RabbitMQ v3.9 pre-provisioned support:**
Pre-provisioned users can use RabbitMQ v3.9 for their service instances.
* **Extra vhost metrics:** It is now possible to collect additional metrics about specific vhosts by
using Loggregator.
For more information, see [Gather additional detailed metrics](monitor.html#detailed-metrics).

### Known Issues

This release has the following known issues:

<p class="note important">
    <strong>Important:</strong> This version contains a release of Erlang that is affected by
    <a href="https://nvd.nist.gov/vuln/detail/CVE-2022-37026">CVE-2022-37026</a>.
    VMware strongly recommends upgrading to <%= vars.product_full %> v2.0.16 or later as soon as possible.
</p>
<%= partial vars.path_to_partials + "/rabbitmq/erlang-ki" %>
* **Failure after deleting pre-provisioned RabbitMQ v3.9:** Deleting a pre-provisioned RabbitMQ v3.9
  service instance causes every other attempt when running <code>cf delete-service</code> to fail.
  This is fixed in v2.0.12 and later patches and in v2.1.0 and later patches.

### Compatibility

The following components are compatible with this release:

<table class="nice">
  <th>Component</th>
  <th>Version</th>
  <tr>
    <td><%= vars.app_runtime_full %></td>
    <td>2.7.x, 2.8.x, 2.9.x, 2.10.x, 2.11.x, 2.12.x</td>
  </tr>
  <tr>
    <td>Erlang</td>
    <td>24.2.1</td>
  </tr>
  <tr>
    <td>HAProxy</td>
    <td>1.8.30</td>
  </tr>
  <tr>
    <td>OSS RabbitMQ*</td>
    <td>3.8.27 and 3.9.13</td>
  </tr>
  <tr>
    <td>Stemcell</td>
    <td>621.x</td>
  </tr>
  <tr>
    <td>bpm</td>
    <td>1.1.16</td>
  </tr>
  <tr>
    <td>cf-cli</td>
    <td>1.37.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq</td>
    <td>422.0.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq-multitenant-broker</td>
    <td>109.0.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq-smoke-tests</td>
    <td>121.0.0</td>
  </tr>
  <tr>
    <td>cf-service-gateway</td>
    <td>64.0.0</td>
  </tr>
  <tr>
    <td>loggregator-agent</td>
    <td>6.3.8</td>
  </tr>
  <tr>
    <td>on-demand-service-broker</td>
    <td>0.42.4</td>
  </tr>
  <tr>
    <td>rabbitmq-metrics</td>
    <td>71.0.0</td>
  </tr>
  <tr>
    <td>rabbitmq-on-demand-adapter</td>
    <td>201.0.0</td>
  </tr>
  <tr>
    <td>routing</td>
    <td>0.229.0</td>
  </tr>
  <tr>
    <td>service-metrics</td>
    <td>2.0.15</td>
  </tr>
</table>

<sup>*</sup> For more information, see the
<a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.8.27">v3.8.27</a> and
<a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.9.13">v3.9.13</a> GitHub documentation.

## <a id="2-0-10"></a> v2.0.10

**Release Date**: February 18, 2022

### Resolved Issues

This release has the following fixes:

* **Metrics when TLS is enabled:** When TLS is enabled, the Prometheus endpoint is now correctly
configured and metrics are now available.

### Known Issues

This release has the following known issues:

<p class="note important">
    <strong>Important:</strong> This version contains a release of Erlang that is affected by
    <a href="https://nvd.nist.gov/vuln/detail/CVE-2022-37026">CVE-2022-37026</a>.
    VMware strongly recommends upgrading to <%= vars.product_full %> v2.0.16 or later as soon as possible.
</p>
<%= partial vars.path_to_partials + "/rabbitmq/erlang-ki" %>

### Compatibility

The following components are compatible with this release:

<table class="nice"> <th>Component</th> <th>Version</th>   <tr>
    <td><%= vars.app_runtime_full %></td>
    <td>2.7.x, 2.8.x, 2.9.x, 2.10.x, 2.11.x, 2.12.x</td>
  </tr>
  <tr>
    <td>Erlang</td>
    <td>24.2.1</td>
  </tr>
  <tr>
    <td>HAProxy</td>
    <td>1.8.30</td>
  </tr>
  <tr>
    <td>OSS RabbitMQ*</td>
    <td>3.8.27 and 3.9.13</td>
  </tr>
  <tr>
    <td>Stemcell</td>
    <td>621.x</td>
  </tr>
  <tr>
    <td>bpm</td>
    <td>1.1.16</td>
  </tr>
  <tr>
    <td>cf-cli</td>
    <td>1.36.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq</td>
    <td>420.0.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq-multitenant-broker</td>
    <td>108.0.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq-smoke-tests</td>
    <td>120.0.0</td>
  </tr>
  <tr>
    <td>cf-service-gateway</td>
    <td>63.0.0</td>
  </tr>
  <tr>
    <td>loggregator-agent</td>
    <td>6.3.8</td>
  </tr>
  <tr>
    <td>on-demand-service-broker</td>
    <td>0.42.3</td>
  </tr>
  <tr>
    <td>rabbitmq-metrics</td>
    <td>70.0.0</td>
  </tr>
  <tr>
    <td>rabbitmq-on-demand-adapter</td>
    <td>196.0.0</td>
  </tr>
  <tr>
    <td>routing</td>
    <td>0.228.0</td>
  </tr>
  <tr>
    <td>service-metrics</td>
    <td>2.0.15</td>
  </tr>
</table>

<sup>*</sup> For more information, see the
<a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.8.27">v3.8.27</a> and
<a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.9.13">v3.9.13</a> GitHub documentation.

## <a id="2-0-9"></a> v2.0.9

**Release Date**: January 20, 2022

### Features

New features and changes in this release:

* **User privilege tags:**
It is now possible to configure any valid user privilege tag when creating service keys for
on-demand instances.
For more information, see
[Creating Users with Other Privilege Levels](install-config.html#service-key-tags).

### Resolved Issues

This release has the following fixes:

* **TLS support:** The on-demand broker now communicates with the Cloud Foundry Cloud Controller over TLS.
* **OAuth2 errors are fixed:** OAuth2 identification no longer hits errors when configured.

### Known Issues

This release has the following issue:

<p class="note important">
    <strong>Important:</strong> This version contains a release of Erlang that is affected by
    <a href="https://nvd.nist.gov/vuln/detail/CVE-2022-37026">CVE-2022-37026</a>.
    VMware strongly recommends upgrading to <%= vars.product_full %> v2.0.16 or later as soon as possible.
</p>
* **Metrics unavailable when TLS enabled:** When TLS is enabled, the Prometheus endpoint is
misconfigured, resulting in metrics being unavailable.

<%= partial vars.path_to_partials + "/rabbitmq/erlang-ki" %>

### Compatibility

The following components are compatible with this release:

<table class="nice"> <th>Component</th> <th>Version</th>   <tr>
    <td><%= vars.app_runtime_full %></td>
    <td>2.7.x, 2.8.x, 2.9.x, 2.10.x, 2.11.x, 2.12.x</td>
  </tr>
  <tr>
    <td>Erlang</td>
    <td>24.2</td>
  </tr>
  <tr>
    <td>HAProxy</td>
    <td>1.8.30</td>
  </tr>
  <tr>
    <td>OSS RabbitMQ*</td>
    <td>3.8.27, 3.9.12</td>
  </tr>
  <tr>
    <td>Stemcell</td>
    <td>621.x</td>
  </tr>
  <tr>
    <td>bpm</td>
    <td>1.1.15</td>
  </tr>
  <tr>
    <td>cf-cli</td>
    <td>1.36.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq</td>
    <td>413.0.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq-multitenant-broker</td>
    <td>106.0.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq-smoke-tests</td>
    <td>117.0.0</td>
  </tr>
  <tr>
    <td>cf-service-gateway</td>
    <td>60.0.0</td>
  </tr>
  <tr>
    <td>loggregator-agent</td>
    <td>6.3.7</td>
  </tr>
  <tr>
    <td>on-demand-service-broker</td>
    <td>0.42.3</td>
  </tr>
  <tr>
    <td>rabbitmq-metrics</td>
    <td>67.0.0</td>
  </tr>
  <tr>
    <td>rabbitmq-on-demand-adapter</td>
    <td>194.0.0</td>
  </tr>
  <tr>
    <td>routing</td>
    <td>0.228.0</td>
  </tr>
  <tr>
    <td>service-metrics</td>
    <td>2.0.15</td>
  </tr>
</table>

<sup>*</sup>For more information, see the
<a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.8.27">v3.8.27</a> and
<a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.9.12">v3.9.12</a> GitHub documentation.

## <a id="2-0-8"></a> v2.0.8

**Release Date**: December 6, 2021

### Resolved Issues

This release has the following fixes:

* TLS v1.2 support is restored.

* Improved network partition detection.

* Instances running RabbitMQ v3.8 now emit disk and memory alarm metrics to the Loggregator subsystem.


### Known Issues

This release has the following issues:

<p class="note important">
    <strong>Important:</strong> This version contains a release of Erlang that is affected by
    <a href="https://nvd.nist.gov/vuln/detail/CVE-2022-37026">CVE-2022-37026</a>.
    VMware strongly recommends upgrading to <%= vars.product_full %> v2.0.16 or later as soon as possible.
</p>
<%= partial vars.path_to_partials + "/rabbitmq/erlang-ki" %>

* **OAuth2 errors:** Enabling OAuth2 identification for RabbitMQ causes errors. This is fixed in v2.0.9.

* **TLS support:** The on-demand broker does not support secure communications with the
Cloud Controller over TLS. This is fixed in v2.0.9.

* **Metrics unavailable when TLS enabled:** When TLS is enabled, the Prometheus endpoint is
misconfigured, resulting in metrics being unavailable.

### Compatibility

The following components are compatible with this release:

<table class="nice"> <th>Component</th> <th>Version</th>   <tr>
    <td><%= vars.app_runtime_full %></td>
    <td>2.7.x, 2.8.x, 2.9.x, 2.10.x, 2.11.x, 2.12.x</td>
  </tr>
  <tr>
    <td>Erlang</td>
    <td>24.1.5</td>
  </tr>
  <tr>
    <td>HAProxy</td>
    <td>1.8.30</td>
  </tr>
  <tr>
    <td>OSS RabbitMQ*</td>
    <td>3.8.25, 3.9.9</td>
  </tr>
  <tr>
    <td>Stemcell</td>
    <td>621.x</td>
  </tr>
  <tr>
    <td>bpm</td>
    <td>1.1.15</td>
  </tr>
  <tr>
    <td>cf-cli</td>
    <td>1.35.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq</td>
    <td>406.0.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq-multitenant-broker</td>
    <td>104.0.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq-smoke-tests</td>
    <td>115.0.0</td>
  </tr>
  <tr>
    <td>cf-service-gateway</td>
    <td>58.0.0</td>
  </tr>
  <tr>
    <td>loggregator-agent</td>
    <td>6.3.5</td>
  </tr>
  <tr>
    <td>on-demand-service-broker</td>
    <td>0.42.3</td>
  </tr>
  <tr>
    <td>rabbitmq-metrics</td>
    <td>65.0.0</td>
  </tr>
  <tr>
    <td>rabbitmq-on-demand-adapter</td>
    <td>191.0.0</td>
  </tr>
  <tr>
    <td>routing</td>
    <td>0.226.0</td>
  </tr>
  <tr>
    <td>service-metrics</td>
    <td>2.0.14</td>
  </tr>
</table>

<sup>*</sup> For more information, see the
<a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.8.25">v3.8.25</a> and
<a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.9.9">v3.9.9</a> GitHub documentation.

## <a id="2-0-7"></a> v2.0.7 - Withdrawn

**This release has been removed from Pivotal Network** due to an issue in Erlang OTP v24.1.2
that causes TLS 1.2 to be unsupported.

This issue is fixed in <%= vars.product_short %> v2.0.8.

**Release Date**: November 10, 2021

### Features

New features and changes in this release:

* **RabbitMQ Streams:**
You now have the option to configure RabbitMQ v3.9 and RabbitMQ Streams.
For more information, see [Enable Extra RabbitMQ Server Plugins](install-config.html#optional-plugins)
and [Configure the Service Plan](install-config.html#service-plan).

* **Filtering per-object Prometheus metrics:**
You can now filter the set of per-object metrics scraped from your RabbitMQ service instances if
you are using a Prometheus deployment. This reduces performance impact.
For more information, see [Filter the Per-Object Metrics](monitor.html#filter-per-object).

### Resolved Issues

This release has the following fix:

* **Smoke tests for the pre-provisioned offering no longer fail if mTLS is enabled:**
Smoke tests with mTLS enabled require additional configuration.
For more information, see [Provide SSL Certificates](install-config-pp.html#ssl).

### Known Issues

This release has the following issue:

<p class="note important">
    <strong>Important:</strong> This version contains a release of Erlang that is affected by
    <a href="https://nvd.nist.gov/vuln/detail/CVE-2022-37026">CVE-2022-37026</a>.
    VMware strongly recommends upgrading to <%= vars.product_full %> v2.0.16 or later as soon as possible.
</p>
* **TLS 1.2 unsupported:** Due to an issue in Erlang OTP v24.1.2, when TLS is enabled, only TLS 1.3 is supported.

<%= partial vars.path_to_partials + "/rabbitmq/erlang-ki" %>

* **OAuth2 errors:** Enabling OAuth2 identification for RabbitMQ results in errors.

* **TLS support:** The on-demand broker does not support secure communications with the Cloud Controller over TLS. This is fixed in v2.0.9.

* **Disk and memory alarm metrics:** Instances running RabbitMQ v3.8 do not emit disk
and memory alarm metrics to the Loggregator subsystem.

* **Metrics unavailable when TLS enabled:** When TLS is enabled, the Prometheus endpoint is
misconfigured, resulting in metrics being unavailable.

### Compatibility

The following components are compatible with this release:

<table class="nice"> <th>Component</th> <th>Version</th>   <tr>
    <td><%= vars.app_runtime_full %></td>
    <td>2.7.x, 2.8.x, 2.9.x, 2.10.x, 2.11.x, 2.12.x</td>
  </tr>
  <tr>
    <td>Erlang</td>
    <td>24.1.2</td>
  </tr>
  <tr>
    <td>HAProxy</td>
    <td>1.8.30</td>
  </tr>
  <tr>
    <td>OSS RabbitMQ*</td>
    <td>3.8.23 and 3.9.8</td>
  </tr>
  <tr>
    <td>Stemcell</td>
    <td>621.x</td>
  </tr>
  <tr>
    <td>bpm</td>
    <td>1.1.15</td>
  </tr>
  <tr>
    <td>cf-cli</td>
    <td>1.34.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq</td>
    <td>404.0.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq-multitenant-broker</td>
    <td>103.0.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq-smoke-tests</td>
    <td>113.0.0</td>
  </tr>
  <tr>
    <td>cf-service-gateway</td>
    <td>57.0.0</td>
  </tr>
  <tr>
    <td>loggregator-agent</td>
    <td>6.3.4</td>
  </tr>
  <tr>
    <td>on-demand-service-broker</td>
    <td>0.42.2</td>
  </tr>
  <tr>
    <td>rabbitmq-metrics</td>
    <td>64.0.0</td>
  </tr>
  <tr>
    <td>rabbitmq-on-demand-adapter</td>
    <td>190.0.0</td>
  </tr>
  <tr>
    <td>routing</td>
    <td>0.225.0</td>
  </tr>
  <tr>
    <td>service-metrics</td>
    <td>2.0.14</td>
  </tr>
</table>

<sup>*</sup> For more information, see the
<a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.8.23">v3.8.23</a> and
<a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.9.8">v3.9.8</a> GitHub documentation.

## <a id="2-0-6"></a> v2.0.6

**Release Date**: September 17, 2021

### Resolved Issues

This release has the following fixes:

* **Management UI logs are rotated:** This release re-introduces a cron job that
rotates logs from the Management UI. This prevents old logs piling up and using all available disk space.
* **Prometheus endpoint with TLS no longer breaks the `prom_scraper` job:** Configuring the
Prometheus endpoint to use TLS no longer breaks the `prom_scraper` job.

### Known Issues

This release has the following issues:

<p class="note important">
    <strong>Important:</strong> This version contains a release of Erlang that is affected by
    <a href="https://nvd.nist.gov/vuln/detail/CVE-2022-37026">CVE-2022-37026</a>.
    VMware strongly recommends upgrading to <%= vars.product_full %> v2.0.16 or later as soon as possible.
</p>
<%= partial vars.path_to_partials + "/rabbitmq/erlang-ki" %>

* **Smoke tests for the pre-provisioned offering fail if mTLS is enabled:**
This is fixed in v2.0.7, but requires additional configuration.
See [Provide SSL Certificates](install-config-pp.html#ssl) for details.

* **OAuth2 errors:** Enabling OAuth2 identification for RabbitMQ results in errors.

* **TLS support:** The on-demand broker does not support secure communications with the Cloud Controller over TLS. This is fixed in v2.0.9.

* **Disk and memory alarm metrics:** Instances running RabbitMQ v3.8 do not emit disk
and memory alarm metrics to the Loggregator subsystem.

* **Metrics unavailable when TLS enabled:** When TLS is enabled, the Prometheus endpoint is
misconfigured, resulting in metrics being unavailable.

### Compatibility

The following components are compatible with this release:

<table class="nice"> <th>Component</th> <th>Version</th>   <tr>
    <td><%= vars.app_runtime_full %></td>
    <td>2.7.x, 2.8.x, 2.9.x, 2.10.x, 2.11.x</td>
  </tr>
  <tr>
    <td>Erlang</td>
    <td>23.3.4.6</td>
  </tr>
  <tr>
    <td>HAProxy</td>
    <td>1.8.30</td>
  </tr>
  <tr>
    <td>OSS RabbitMQ*</td>
    <td>3.8.22</td>
  </tr>
  <tr>
    <td>Stemcell</td>
    <td>621.x</td>
  </tr>
  <tr>
    <td>bpm</td>
    <td>1.1.13</td>
  </tr>
  <tr>
    <td>cf-cli</td>
    <td>1.33.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq</td>
    <td>388.0.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq-multitenant-broker</td>
    <td>101.0.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq-smoke-tests</td>
    <td>106.0.0</td>
  </tr>
  <tr>
    <td>cf-service-gateway</td>
    <td>55.0.0</td>
  </tr>
  <tr>
    <td>loggregator-agent</td>
    <td>6.3.4</td>
  </tr>
  <tr>
    <td>on-demand-service-broker</td>
    <td>0.42.1</td>
  </tr>
  <tr>
    <td>rabbitmq-metrics</td>
    <td>62.0.0</td>
  </tr>
  <tr>
    <td>rabbitmq-on-demand-adapter</td>
    <td>185.0.0</td>
  </tr>
  <tr>
    <td>routing</td>
    <td>0.223.0</td>
  </tr>
  <tr>
    <td>service-metrics</td>
    <td>2.0.14</td>
  </tr>
</table>

<sup>*</sup> For more information, see the
<a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.8.22">v3.8.22</a> GitHub documentation.

## <a id="2-0-5"></a> v2.0.5

**Release Date**: August 27, 2021

### Resolved Issues

This release has the following fixes:

* **Queues with per-message TTL failing to recover indexes after a restart:**<br>
  This release sets the `origin` field to `p-rabbitmq` for metrics in the Loggregator subsystem and
  upgrades RabbitMQ to v3.8.21.<br>
  These changes enable queues with per-message TTL to recover indexes after a restart.
  For more information, see [issue 3272](https://github.com/rabbitmq/rabbitmq-server/discussions/3272) in GitHub.
* **Metrics in the Loggregator subsystem lack an origin tag:**<br>
  This release enables configuration of arbitrary labels, which means labels can be specified when
  deploying `cf-rabbitmq-release`.

### Known Issues

This release has the following issues:

<p class="note important">
    <strong>Important:</strong> This version contains a release of Erlang that is affected by
    <a href="https://nvd.nist.gov/vuln/detail/CVE-2022-37026">CVE-2022-37026</a>.
    VMware strongly recommends upgrading to <%= vars.product_full %> v2.0.16 or later as soon as possible.
</p>
<%= partial vars.path_to_partials + "/rabbitmq/erlang-ki" %>

* **HTTP access logs can build up on disk and are not rotated as expected:** This is fixed in v2.0.6.

* **Smoke tests for the pre-provisioned offering fail if mTLS is enabled:**
This is fixed in v2.0.7, but requires additional configuration.
See [Provide SSL Certificates](install-config-pp.html#ssl) for details.

* **TLS support:** The on-demand broker does not support secure communications with the Cloud Controller over TLS. This is fixed in v2.0.9.

* **Disk and memory alarm metrics:** Instances running RabbitMQ v3.8 do not emit disk
and memory alarm metrics to the Loggregator subsystem.

* **Metrics unavailable when TLS enabled:** When TLS is enabled, the Prometheus endpoint is
misconfigured, resulting in metrics being unavailable.

### Compatibility

The following components are compatible with this release:

<table class="nice"> <th>Component</th> <th>Version</th>   <tr>
    <td><%= vars.app_runtime_full %></td>
    <td>2.7.x, 2.8.x, 2.9.x, 2.10.x, 2.11.x</td>
  </tr>
  <tr>
    <td>Erlang</td>
    <td>23.3.4.5</td>
  </tr>
  <tr>
    <td>HAProxy</td>
    <td>1.8.30</td>
  </tr>
  <tr>
    <td>OSS RabbitMQ*</td>
    <td>3.8.21</td>
  </tr>
  <tr>
    <td>Stemcell</td>
    <td>621.x</td>
  </tr>
  <tr>
    <td>bpm</td>
    <td>1.1.13</td>
  </tr>
  <tr>
    <td>cf-cli</td>
    <td>1.32.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq</td>
    <td>385.0.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq-multitenant-broker</td>
    <td>100.0.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq-smoke-tests</td>
    <td>105.0.0</td>
  </tr>
  <tr>
    <td>cf-service-gateway</td>
    <td>53.0.0</td>
  </tr>
  <tr>
    <td>loggregator-agent</td>
    <td>6.3.3</td>
  </tr>
  <tr>
    <td>on-demand-service-broker</td>
    <td>0.42.1</td>
  </tr>
  <tr>
    <td>rabbitmq-metrics</td>
    <td>61.0.0</td>
  </tr>
  <tr>
    <td>rabbitmq-on-demand-adapter</td>
    <td>184.0.0</td>
  </tr>
  <tr>
    <td>routing</td>
    <td>0.221.0</td>
  </tr>
  <tr>
    <td>service-metrics</td>
    <td>2.0.14</td>
  </tr>
</table>

<sup>*</sup> For more information, see the <a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.8.21">v3.8.21</a> GitHub documentation.


## <a id="2-0-4"></a> v2.0.4

**Release Date**: July 14, 2021

### Maintenance Changes

Maintenance change in this release:

* **Updated RabbitMQ to v3.8.18 and Erlang to v24:** For more information, see
[RabbitMQ 3.8.18](https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.8.18) in GitHub.

### Resolved Issues

This release has the following fixes:

* **Smoke tests:** This version fixes an issue that caused the smoke tests to fail with a buildpack error on the latest TAS versions.
* **Grafana Dashboards for on-demand instances:** This version fixes a issue which caused Grafana dashboards for on-demand instances to fail rendering.

### Features

New features and changes in this release:

* **Inter-node TLS:** You can now configure TLS between RabbitMQ nodes. For more information about inter-node TLS,
  see [Securing Inter-node Traffic with TLS](secure-inter-node.html).

### Known Issues

This release has the following issues:

<p class="note important">
    <strong>Important:</strong> This version contains a release of Erlang that is affected by
    <a href="https://nvd.nist.gov/vuln/detail/CVE-2022-37026">CVE-2022-37026</a>.
    VMware strongly recommends upgrading to <%= vars.product_full %> v2.0.16 or later as soon as possible.
</p>
<%= partial vars.path_to_partials + "/rabbitmq/erlang-ki" %>

* **Duplicated RabbitMQ server metrics when both the Healthwatch Exporter for TAS and the Healthwatch tile are installed:**
For v2 of the Healthwatch tile, installing the Healthwatch Exporter for TAS along with the
Healthwatch tile results in duplicated metrics. This is because Heathwatch scrapes the metrics from
both the Prometheus port of the RabbitMQ service instance and from the Loggregator system of TAS.

* **HTTP access logs can build up on disk and are not rotated as expected:** This is fixed in v2.0.6.

* **Smoke tests for the pre-provisioned offering fail if mTLS is enabled:**
This is fixed in v2.0.7, but requires additional configuration.
See [Provide SSL Certificates](install-config-pp.html#ssl) for details.

* **TLS support:** The on-demand broker does not support secure communications with the Cloud Controller over TLS. This is fixed in v2.0.9.

* **Disk and memory alarm metrics:** Instances running RabbitMQ v3.8 do not emit disk
and memory alarm metrics to the Loggregator subsystem.

* **Metrics unavailable when TLS enabled:** When TLS is enabled, the Prometheus endpoint is
misconfigured, resulting in metrics being unavailable.

### Compatibility

The following components are compatible with this release:

<table class="nice">
<th>Component</th>
<th>Version</th>
  <tr>
    <td>Erlang</td>
    <td>24.0.2</td>
  </tr>
  <tr>
    <td>HAProxy</td>
    <td>1.8.30</td>
  </tr>
  <tr>
    <td>OSS RabbitMQ*</td>
    <td>3.8.18</td>
  </tr>
  <tr>
    <td>Stemcell</td>
    <td>621.x</td>
  </tr>
  <tr>
    <td><%= vars.app_runtime_full%></td>
    <td>2.7.x, 2.8.x, 2.9.x, 2.10.x</td>
  </tr>
  <tr>
    <td>bpm</td>
    <td>1.1.12</td>
  </tr>
  <tr>
    <td>cf-cli</td>
    <td>1.32.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq</td>
    <td>382.0.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq-multitenant-broker</td>
    <td>98.0.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq-smoke-tests</td>
    <td>103.0.0</td>
  </tr>
  <tr>
    <td>cf-service-gateway</td>
    <td>51.0.0</td>
  </tr>
  <tr>
    <td>loggregator-agent</td>
    <td>6.3.3</td>
  </tr>
  <tr>
    <td>on-demand-service-broker</td>
    <td>0.42.0</td>
  </tr>
  <tr>
    <td>rabbitmq-metrics</td>
    <td>59.0.0</td>
  </tr>
  <tr>
    <td>rabbitmq-on-demand-adapter</td>
    <td>180.0.0</td>
  </tr>
  <tr>
    <td>routing</td>
    <td>0.216.0</td>
  </tr>
  <tr>
    <td>service-metrics</td>
    <td>2.0.13</td>
  </tr>
</table>

<sup>*</sup> For more information, see the
<a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.8.18">v3.8.18</a> GitHub documentation.

## <a id="2-0-2"></a> v2.0.2

**Release Date**: May 26, 2021

<p class="note breaking">
  <strong>Breaking Changes:</strong> The breaking changes listed for v2.0.0 also
  apply if you are upgrading from v1.21 to v2.0.2.
  See <a href="#2-0-0">Breaking Changes</a> below.
</p>

### Security Fixes

This release includes the following security fix:

* High [CVE-2021-30465](https://nvd.nist.gov/vuln/detail/CVE-2021-30465):
runc v1.0.0-rc94 and earlier allows a container file system breakout through
directory traversal.

### Known Issues

This release has the following issues:

<p class="note important">
    <strong>Important:</strong> This version contains a release of Erlang that is affected by
    <a href="https://nvd.nist.gov/vuln/detail/CVE-2022-37026">CVE-2022-37026</a>.
    VMware strongly recommends upgrading to <%= vars.product_full %> v2.0.16 or later as soon as possible.
</p>
<%= partial vars.path_to_partials + "/rabbitmq/erlang-ki" %>

* **HTTP access logs can build up on disk and are not rotated as expected:** This is fixed in v2.0.6.

* **Smoke tests for the pre-provisioned offering fail if mTLS is enabled:**
This is fixed in v2.0.7, but requires additional configuration.
See [Provide SSL Certificates](install-config-pp.html#ssl) for details.

* **TLS support:** The on-demand broker does not support secure communications with the Cloud Controller over TLS. This is fixed in v2.0.9.

* **Disk and memory alarm metrics:** Instances running RabbitMQ v3.8 do not emit disk
and memory alarm metrics to the Loggregator subsystem.

### Compatibility

The following components are compatible with this release:

<table class="nice"> <th>Component</th> <th>Version</th>   <tr>
    <td>Erlang</td>
    <td>23.3.4</td>
  </tr>
  <tr>
    <td>HAProxy</td>
    <td>1.8.30</td>
  </tr>
  <tr>
    <td>OSS RabbitMQ*</td>
    <td>3.8.16</td>
  </tr>
  <tr>
    <td>Stemcell</td>
    <td>621.x</td>
  </tr>
  <tr>
    <td><%= vars.app_runtime_full%></td>
    <td>2.7.x, 2.8.x, 2.9.x, 2.10.x, and 2.11.x</td>
  </tr>
  <tr>
    <td>bpm</td>
    <td>1.1.11</td>
  </tr>
  <tr>
    <td>cf-cli</td>
    <td>1.32.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq</td>
    <td>375.0.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq-multitenant-broker</td>
    <td>95.0.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq-smoke-tests</td>
    <td>101.0.0</td>
  </tr>
  <tr>
    <td>cf-service-gateway</td>
    <td>50.0.0</td>
  </tr>
  <tr>
    <td>loggregator-agent</td>
    <td>6.2.1</td>
  </tr>
  <tr>
    <td>on-demand-service-broker</td>
    <td>0.41.1</td>
  </tr>
  <tr>
    <td>rabbitmq-metrics</td>
    <td>58.0.0</td>
  </tr>
  <tr>
    <td>rabbitmq-on-demand-adapter</td>
    <td>176.0.0</td>
  </tr>
  <tr>
    <td>routing</td>
    <td>0.213.0</td>
  </tr>
  <tr>
    <td>service-metrics</td>
    <td>2.0.13</td>
  </tr>
</table>

<sup>*</sup> For more information, see the
<a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.8.16">v3.8.16</a> GitHub documentation.

## <a id="2-0-1"></a> v2.0.1

**Release Date**: May 21, 2021

<p class="note breaking">
  <strong>Breaking Changes:</strong> The breaking changes listed for v2.0.0 also
  apply if you are upgrading from v1.21 to v2.0.1.
  See <a href="#2-0-0">Breaking Changes</a> below.
</p>

### Maintenance Changes

Maintenance change in this release:

* **Updated RabbitMQ to v3.8.16:** For more information, see
[RabbitMQ 3.8.16](https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.8.16) in GitHub.

### Resolved Issues

This release has the following fix:

* **Compatible with Ruby buildpack v1.8.33 and later:** This version fixes the incompatibility
  with Ruby buildpack issue found in <%= vars.product_short %> v2.0.0.

### Known Issues

This release has the following issue:

<p class="note important">
    <strong>Important:</strong> This version contains a release of Erlang that is affected by
    <a href="https://nvd.nist.gov/vuln/detail/CVE-2022-37026">CVE-2022-37026</a>.
    VMware strongly recommends upgrading to <%= vars.product_full %> v2.0.16 or later as soon as possible.
</p>
<%= partial vars.path_to_partials + "/rabbitmq/erlang-ki" %>

* **This release does not contain the fix to [CVE-2021-30465](https://nvd.nist.gov/vuln/detail/CVE-2021-30465):**
VMware recommends upgrading to v2.0.2 or later.

* **HTTP access logs can build up on disk and are not rotated as expected:** This is fixed in v2.0.6.

* **Smoke tests for the pre-provisioned offering fail if mTLS is enabled:**
This is fixed in v2.0.7, but requires additional configuration. See [the TLS documentation](install-config-pp.html#ssl) for details.

* **TLS support:** The on-demand broker does not support secure communications with the Cloud Controller over TLS. This is fixed in v2.0.9.

* **Disk and memory alarm metrics:** Instances running RabbitMQ v3.8 do not emit disk
and memory alarm metrics to the Loggregator subsystem.

* **Metrics unavailable when TLS enabled:** When TLS is enabled, the Prometheus endpoint is
misconfigured, resulting in metrics being unavailable.

### Compatibility

The following components are compatible with this release:

<table class="nice"> <th>Component</th> <th>Version</th>   <tr>
    <td>Erlang</td>
    <td>23.3.2</td>
  </tr>
  <tr>
    <td>HAProxy</td>
    <td>1.8.30</td>
  </tr>
  <tr>
    <td>OSS RabbitMQ*</td>
    <td>3.8.16</td>
  </tr>
  <tr>
    <td>Stemcell</td>
    <td>621.x</td>
  </tr>
  <tr>
    <td><%= vars.app_runtime_full%></td>
    <td>2.7.x, 2.8.x, 2.9.x, 2.10.x, and 2.11.x</td>
  </tr>
  <tr>
    <td>bpm</td>
    <td>1.1.9</td>
  </tr>
  <tr>
    <td>cf-cli</td>
    <td>1.32.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq</td>
    <td>372.0.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq-multitenant-broker</td>
    <td>94.0.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq-smoke-tests</td>
    <td>98.0.0</td>
  </tr>
  <tr>
    <td>cf-service-gateway</td>
    <td>50.0.0</td>
  </tr>
  <tr>
    <td>loggregator-agent</td>
    <td>6.2.0</td>
  </tr>
  <tr>
    <td>on-demand-service-broker</td>
    <td>0.41.1</td>
  </tr>
  <tr>
    <td>rabbitmq-metrics</td>
    <td>56.0.0</td>
  </tr>
  <tr>
    <td>rabbitmq-on-demand-adapter</td>
    <td>175.0.0</td>
  </tr>
  <tr>
    <td>routing</td>
    <td>0.213.0</td>
  </tr>
  <tr>
    <td>service-metrics</td>
    <td>2.0.13</td>
  </tr>
</table>

<sup>*</sup> For more information, see the <a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.8.16">v3.8.16</a> GitHub documentation.

## <a id="2-0-0"></a> v2.0.0

**Release Date**: April 14, 2021

### Breaking Changes

Breaking changes in this release:

* **RabbitMQ Server Metrics**: RabbitMQ Server metrics for both pre-provisioned and on-demand are
now served using the `rabbitmq_prometheus` plugin. This changes the metrics emitted by the RabbitMQ
Server component.<br><br>
In <%= vars.product_short %> v1.x, queue depth and queue consumer metrics were emitted for every queue.<br>
In <%= vars.product_short %> v2.0, queue metrics are aggregated by default.<br><br>
For more information about the aggregation, see the
[RabbitMQ documentation](https://www.rabbitmq.com/prometheus.html#metric-aggregation).
For more information about the plugin, see [Prometheus Plugin](monitor.html#prometheus).
For the full list of metrics now emitted, see the
[rabbitmq-server](https://github.com/rabbitmq/rabbitmq-server/blob/master/deps/rabbitmq_prometheus/metrics.md)
repository in GitHub.

* **Updated Firehose Metrics format**: The underscore character has replaced all punctuation characters in
the metric name.
For example, the metric `/on-demand-broker/p.rabbitmq/single-node/total_instances` has become
`_on_demand_broker_p_rabbitmq_single_node_total_instances`.

* **TLS v1.0 and v1.1 are no longer supported:** Before upgrading to <%= vars.product_short %> v2.0,
  update apps that use TLS v1.0 or v1.1 to use TLS v1.2 or v1.3.

### Features

New features and changes in this release:

* **Expert users only — overriding the RabbitMQ server configuration:**
You can override the configuration applied by the <%= vars.product_short %> broker
or provide your own additional configuration to apply on RabbitMQ service instances.
For more information, see
[Expert Mode - Overriding RabbitMQ Server Configuration](expert-override-config.html).

* **Additional RabbitMQ server plugins for on-demand:** These plugins are available for on-demand services:<br>

    `rabbitmq_auth_backend_cache`, `rabbitmq_auth_backend_http`, `rabbitmq_auth_backend_ldap`,
    `rabbitmq_auth_mechanism_ssl`, `rabbitmq_jms_topic_exchange`, `rabbitmq_tracing`,
    `rabbitmq_trust_store`, `rabbitmq_web_mqtt`, `rabbitmq_web_mqtt_examples`, and `rabbitmq_web_stomp_examples`

    The plugins are disabled by default.
    For the complete list of plugins and for information about how to enable them,
    see [RabbitMQ Server Plugins](install-config.html#server-plugins)
    in _Installing and Configuring the On-Demand Service_.

* **TLS versions:** TLS v1.2 and v1.3 are supported.

### Known Issues

This release has the following issues:

<p class="note important">
    <strong>Important:</strong> This version contains a release of Erlang that is affected by
    <a href="https://nvd.nist.gov/vuln/detail/CVE-2022-37026">CVE-2022-37026</a>.
    VMware strongly recommends upgrading to <%= vars.product_full %> v2.0.16 or later as soon as possible.
</p>
<%= partial vars.path_to_partials + "/rabbitmq/erlang-ki" %>

* **This release is incompatible with Ruby buildpack v1.8.33 and later:**
   Upgrades to this version of <%= vars.product_short %> fail the smoke test errand.
   This is fixed in v2.0.1.

* **This release does not contain the fix to [CVE-2021-30465](https://nvd.nist.gov/vuln/detail/CVE-2021-30465):**
VMware recommends upgrading to v2.0.2 or later.

* **HTTP access logs can build up on disk and are not rotated as expected:** This is fixed in v2.0.6.

* **Smoke tests for the pre-provisioned offering fail if mTLS is enabled:**
This is fixed in v2.0.7, but requires additional configuration.
See [Provide SSL Certificates](install-config-pp.html#ssl) for details.

* **TLS support:** The on-demand broker does not support secure communications with the Cloud Controller over TLS. This is fixed in v2.0.9.

* **Disk and memory alarm metrics:** Instances running RabbitMQ v3.8 do not emit disk
and memory alarm metrics to the Loggregator subsystem.

* **Metrics unavailable when TLS enabled:** When TLS is enabled, the Prometheus endpoint is
misconfigured, resulting in metrics being unavailable.

### Compatibility

The following components are compatible with this release:

<table class="nice">
  <th>Component</th>
  <th>Version</th>
  <tr>
    <td>Erlang</td>
    <td>23.2.7</td>
  </tr>
  <tr>
    <td>HAProxy</td>
    <td>1.8.29</td>
  </tr>
  <tr>
    <td>OSS RabbitMQ<sup>*</sup></td>
    <td>3.8.14</td>
  </tr>
  <tr>
    <td>Stemcell</td>
    <td>621.x</td>
  </tr>
  <tr>
    <td><%= vars.app_runtime_full%></td>
    <td>2.7.x, 2.8.x, 2.9.x, 2.10.x, and 2.11.x</td>
  </tr>
  <tr>
    <td>bpm</td>
    <td>1.1.9</td>
  </tr>
  <tr>
    <td>cf-cli</td>
    <td>1.32.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq</td>
    <td>366.0.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq-multitenant-broker</td>
    <td>93.0.0</td>
  </tr>
  <tr>
    <td>cf-service-gateway</td>
    <td>48.0.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq-smoke-tests</td>
    <td>94.0.0</td>
  </tr>
  <tr>
    <td>loggregator-agent</td>
    <td>6.2.0</td>
  </tr>
  <tr>
    <td>on-demand-service-broker</td>
    <td>0.40.0</td>
  </tr>
  <tr>
    <td>rabbitmq-metrics</td>
    <td>55.0.0</td>
  </tr>
  <tr>
    <td>rabbitmq-on-demand-adapter</td>
    <td>174.0.0</td>
  </tr>
  <tr>
    <td>routing</td>
    <td>0.213.0</td>
  </tr>
  <tr>
    <td>service-metrics</td>
    <td>2.0.13</td>
  </tr>
</table>

<sup>*</sup> For more information, see the <a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.8.14">v3.8.14</a> GitHub documentation.

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from the dropdown at the
top of this page.
