---
title: VMware RabbitMQ for Tanzu Application Service Release Notes
owner: London Services
---

This topic describes the changes in this minor release of <%= vars.product_full %>.

> **Note** VMware Tanzu RabbitMQ for VMs is now named VMware RabbitMQ for Tanzu Application Service.

<%= partial vars.path_to_partials + '/upgrade-planner' %>

## <a id="2-2-12"></a> v2.2.12

**Release Date**: May 29, 2024

### Resolved Issues

This release fixes the following issues:
- Smoke tests now create application security groups for all spaces when running in parallel.

### Known Issues

This release has the following known issues:

<%= partial vars.path_to_partials + "/rabbitmq/erlang-ki" %>

### Compatibility

The following components are compatible with this release:

<table class="nice">
 <th>Component</th>
 <th>Version</th>
 	<tr>
		<td><%= vars.app_runtime_full %></td>
		<td>4.0.x, 5.0.x, 6.0.x</td>
	</tr>
	<tr>
		<td>Erlang</td>
		<td>25.3.2.12 and 26.2.5</td>
	</tr>
	<tr>
		<td>HAProxy</td>
		<td>2.6.17</td>
	</tr>
	<tr>
		<td>OSS RabbitMQ*</td>
		<td>3.11.28 and 3.12.14</td>
	</tr>
	<tr>
		<td>Stemcell</td>
		<td>1.x</td>
	</tr>
	<tr>
		<td>bpm</td>
		<td>1.2.17</td>
	</tr>
	<tr>
		<td>cf-cli</td>
		<td>1.63.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq</td>
		<td>597.0.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq-multitenant-broker</td>
		<td>197.0.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq-smoke-tests</td>
		<td>236.0.0</td>
	</tr>
	<tr>
		<td>cf-service-gateway</td>
		<td>152.0.0</td>
	</tr>
	<tr>
		<td>count-cores-indicator</td>
		<td>2.0.0</td>
	</tr>
	<tr>
		<td>loggregator-agent</td>
		<td>8.1.1</td>
	</tr>
	<tr>
		<td>on-demand-service-broker</td>
		<td>0.46.0</td>
	</tr>
	<tr>
		<td>rabbitmq-metrics</td>
		<td>152.0.0</td>
	</tr>
	<tr>
		<td>rabbitmq-on-demand-adapter</td>
		<td>325.0.0</td>
	</tr>
	<tr>
		<td>routing</td>
		<td>0.297.0</td>
	</tr>
	<tr>
		<td>service-metrics</td>
		<td>2.0.37</td>
	</tr>
</table>

<sup>*</sup> For more information, see the <a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.11.28">v3.11.28</a> and <a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.12.14">v3.12.14</a> GitHub documentation.

## <a id="2-2-11"></a> v2.2.11

**Release Date**: March 28, 2024

### Resolved Issues

This release fixes the following issues:
- Smoke tests now primarily log to file, preventing failure from output too large for Bosh.
- Default VM size for brokers increased to 2 CPUs to allow smoke tests to run in parallel.

### Known Issues

This release has the following known issues:
- Smoke tests fail to create application security groups for all spaces when running in parallel.

### Compatibility

The following components are compatible with this release:

<table class="nice">
 <th>Component</th>
 <th>Version</th>
 	<tr>
		<td><%= vars.app_runtime_full %></td>
		<td>2.11.x, 2.13.x, 3.0.x, 4.0.x, 5.0.x, 6.0.x</td>
	</tr>
	<tr>
		<td>Erlang</td>
		<td>25.3.2.9 and 26.2.2</td>
	</tr>
	<tr>
		<td>HAProxy</td>
		<td>2.6.16</td>
	</tr>
	<tr>
		<td>OSS RabbitMQ*</td>
		<td>3.11.28 and 3.12.13</td>
	</tr>
	<tr>
		<td>Stemcell</td>
		<td>1.x</td>
	</tr>
	<tr>
		<td>bpm</td>
		<td>1.2.17</td>
	</tr>
	<tr>
		<td>cf-cli</td>
		<td>1.63.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq</td>
		<td>588.0.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq-multitenant-broker</td>
		<td>188.0.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq-smoke-tests</td>
		<td>226.0.0</td>
	</tr>
	<tr>
		<td>cf-service-gateway</td>
		<td>145.0.0</td>
	</tr>
	<tr>
		<td>count-cores-indicator</td>
		<td>2.0.0</td>
	</tr>
	<tr>
		<td>loggregator-agent</td>
		<td>7.7.3</td>
	</tr>
	<tr>
		<td>on-demand-service-broker</td>
		<td>0.45.3</td>
	</tr>
	<tr>
		<td>rabbitmq-metrics</td>
		<td>145.0.0</td>
	</tr>
	<tr>
		<td>rabbitmq-on-demand-adapter</td>
		<td>307.0.0</td>
	</tr>
	<tr>
		<td>routing</td>
		<td>0.293.0</td>
	</tr>
	<tr>
		<td>service-metrics</td>
		<td>2.0.36</td>
	</tr>
</table>

<sup>*</sup> For more information, see the <a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.11.28">v3.11.28</a> and <a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.12.13">v3.12.13</a> GitHub documentation.


## <a id="2-2-10"></a> v2.2.10

**Release Date**: February 14, 2024

### Known Issues

This release has the following issues:

<%= partial vars.path_to_partials + "/rabbitmq/erlang-ki" %>

### Resolved Issues

This release fixes the following issues:

- Smoke tests fail to complete before timeout.
- Smoke tests fail to create application security groups for all spaces when running in parallel.

### Compatibility

The following components are compatible with this release:

<table class="table">
  <thead><tr><th>Component</th> <th>Version</th></tr></thead>
  <tr>
    <td><%= vars.app_runtime_full %></td>
    <td>2.11.x, 2.13.x, 4.0.x, 5.0.x, 6.0.x</td>
  </tr>
  <tr>
    <td>Erlang</td>
    <td>26.2.2, 25.3.2.9</td>
  </tr>
  <tr>
    <td>HAProxy</td>
    <td>2.6.16</td>
  </tr>
  <tr>
    <td>OSS RabbitMQ*</td>
    <td>3.12.12, 3.11.28</td>
  </tr>
  <tr>
    <td>Stemcell</td>
    <td>1.x</td>
  </tr>
  <tr>
    <td>bpm</td>
    <td>1.2.16</td>
  </tr>
  <tr>
    <td>cf-cli</td>
    <td>1.59.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq</td>
    <td>582.0.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq-multitenant-broker</td>
    <td>185.0.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq-smoke-tests</td>
    <td>222.0.0</td>
  </tr>
  <tr>
    <td>cf-service-gateway</td>
    <td>144.0.0</td>
  </tr>
  <tr>
    <td>count-cores-indicator</td>
    <td>2.0.0</td>
  </tr>
  <tr>
    <td>loggregator-agent</td>
    <td>7.7.3</td>
  </tr>
  <tr>
    <td>on-demand-service-broker</td>
    <td>0.45.3</td>
  </tr>
  <tr>
    <td>rabbitmq-metrics</td>
    <td>143.0.0</td>
  </tr>
  <tr>
    <td>rabbitmq-on-demand-adapter</td>
    <td>300.0.0</td>
  </tr>
  <tr>
    <td>routing</td>
    <td>0.290.0</td>
  </tr>
  <tr>
    <td>service-metrics</td>
    <td>2.0.35</td>
  </tr>
</table>'

<sup>*</sup> For more information, see the <a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.12.12">v3.12.12</a> and <a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.11.28">v3.11.28</a> GitHub documentation.


## <a id="2-2-9"></a> v2.2.9

**Release Date**: January 11, 2024

### Resolved Issues

This release fixes the following issues:

- Service Gateway attempts to use HTTP to connect to the Routing HTTPS endpoint.

### Known Issues

This release has the following known issues:

<%= partial vars.path_to_partials + "/rabbitmq/erlang-ki" %>

### Compatibility

The following components are compatible with this release:

<table class="table"> 
<thead><tr><th>Component</th> <th>Version</th></tr></thead>
  <tr>
		<td><%= vars.app_runtime_full %></td>
		<td>2.11.x, 2.12.x, 2.13.x, 3.0.x, 4.0.x, 5.0.x</td>
	</tr>
	<tr>
		<td>Erlang</td>
		<td>26.2.1, 25.3.2.8</td>
	</tr>
	<tr>
		<td>HAProxy</td>
		<td>2.6.16</td>
	</tr>
	<tr>
		<td>OSS RabbitMQ*</td>
		<td>3.12.12, 3.11.28</td>
	</tr>
	<tr>
		<td>Stemcell</td>
		<td>1.x</td>
	</tr>
	<tr>
		<td>bpm</td>
		<td>1.2.12</td>
	</tr>
	<tr>
		<td>cf-cli</td>
		<td>1.59.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq</td>
		<td>576.0.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq-multitenant-broker</td>
		<td>180.0.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq-smoke-tests</td>
		<td>206.0.0</td>
	</tr>
	<tr>
		<td>cf-service-gateway</td>
		<td>138.0.0</td>
	</tr>
	<tr>
		<td>count-cores-indicator</td>
		<td>2.0.0</td>
	</tr>
	<tr>
		<td>loggregator-agent</td>
		<td>7.7.3</td>
	</tr>
	<tr>
		<td>on-demand-service-broker</td>
		<td>0.45.2</td>
	</tr>
	<tr>
		<td>rabbitmq-metrics</td>
		<td>137.0.0</td>
	</tr>
	<tr>
		<td>rabbitmq-on-demand-adapter</td>
		<td>294.0.0</td>
	</tr>
	<tr>
		<td>routing</td>
		<td>0.285.0</td>
	</tr>
	<tr>
		<td>service-metrics</td>
		<td>2.0.34</td>
	</tr>
</table>

<sup>*</sup> For more information, see the <a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.12.10">v3.12.12</a> and <a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.11.26">v3.11.28</a> GitHub documentation.


## <a id="2-2-8"></a> v2.2.8

**Release Date**: December 18, 2023

### Known Issues

This release has the following issues:

- Service Gateway attempts to use HTTP to connect to the Routing HTTPS endpoint.
<%= partial vars.path_to_partials + "/rabbitmq/erlang-ki" %>

### Resolved Issues

This release fixes the following issues:

- Brokers connect to Nats using TLS.
- Service Gateway connects to Routing using TLS.

### Compatibility

The following components are compatible with this release:

<table class="table"> 
<thead><tr><th>Component</th> <th>Version</th></tr></thead>
 	<tr>
    <td><%= vars.app_runtime_full %></td>
    <td>2.11.16 or later, 2.12.x, 2.13.x, 3.0.x, 4.0.x, 5.0.x</td>
  </tr>
  <tr>
    <td>Erlang</td>
    <td>26.1.2, 25.3.2.7</td>
  </tr>
  <tr>
    <td>HAProxy</td>
    <td>2.6.15</td>
  </tr>
  <tr>
    <td>OSS RabbitMQ*</td>
    <td>3.12.10, 3.11.26, 3.10.25</td>
  </tr>
  <tr>
    <td>Stemcell</td>
    <td>1.x</td>
  </tr>
  <tr>
    <td>bpm</td>
    <td>1.2.11</td>
  </tr>
  <tr>
    <td>cf-cli</td>
    <td>1.53.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq</td>
    <td>569.0.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq-multitenant-broker</td>
    <td>175.0.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq-smoke-tests</td>
    <td>202.0.0</td>
  </tr>
  <tr>
    <td>cf-service-gateway</td>
    <td>133.0.0</td>
  </tr>
  <tr>
    <td>count-cores-indicator</td>
    <td>2.0.0</td>
  </tr>
  <tr>
    <td>loggregator-agent</td>
    <td>7.7.2</td>
  </tr>
  <tr>
    <td>on-demand-service-broker</td>
    <td>0.45.1</td>
  </tr>
  <tr>
    <td>rabbitmq-metrics</td>
    <td>133.0.0</td>
  </tr>
  <tr>
    <td>rabbitmq-on-demand-adapter</td>
    <td>286.0.0</td>
  </tr>
  <tr>
    <td>routing</td>
    <td>0.284.0</td>
  </tr>
  <tr>
    <td>service-metrics</td>
    <td>2.0.33</td>
  </tr>
</table>

<sup>*</sup> For more information, see the <a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.12.10">v3.12.10</a>, <a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.11.26">v3.11.26</a>, and <a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.10.25">v3.10.25</a> GitHub documentation.

## <a id="2-2-7"></a> v2.2.7

**Release Date**: November 9, 2023

### Resolved Issues

This release fixes the following issues:

* Resolves [CVE-2023-46118](https://github.com/rabbitmq/rabbitmq-server/security/advisories/GHSA-w6cq-9cf4-gqpg)

### Known Issues

This release has the following known issues:

<%= partial vars.path_to_partials + "/rabbitmq/erlang-ki" %>

### Compatibility

The following components are compatible with this release:

<table class="table"> 
<thead><tr><th>Component</th> <th>Version</th></tr></thead>
	<tr><td><%= vars.app_runtime_full %></td>
		<td>2.11.16 or later, 2.12.x, 2.13.x, 3.0.x, 4.0.x, 5.0.x</td>
	</tr>
	<tr>
		<td>Erlang</td>
		<td>26.1.2 and 25.3.2.7</td>
	</tr>
	<tr>
		<td>HAProxy</td>
		<td>2.6.15</td>
	</tr>
	<tr>
		<td>OSS RabbitMQ*</td>
		<td>3.12.8, 3.11.25, and 3.10.25</td>
	</tr>
	<tr>
		<td>Stemcell</td>
		<td>1.x</td>
	</tr>
	<tr>
		<td>bpm</td>
		<td>1.2.9</td>
	</tr>
	<tr>
		<td>cf-cli</td>
		<td>1.50.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq</td>
		<td>562.0.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq-multitenant-broker</td>
		<td>171.0.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq-smoke-tests</td>
		<td>198.0.0</td>
	</tr>
	<tr>
		<td>cf-service-gateway</td>
		<td>129.0.0</td>
	</tr>
	<tr>
		<td>count-cores-indicator</td>
		<td>2.0.0</td>
	</tr>
	<tr>
		<td>loggregator-agent</td>
		<td>7.6.4</td>
	</tr>
	<tr>
		<td>on-demand-service-broker</td>
		<td>0.45.0</td>
	</tr>
	<tr>
		<td>rabbitmq-metrics</td>
		<td>129.0.0</td>
	</tr>
	<tr>
		<td>rabbitmq-on-demand-adapter</td>
		<td>279.0.0</td>
	</tr>
	<tr>
		<td>routing</td>
		<td>0.283.0</td>
	</tr>
	<tr>
		<td>service-metrics</td>
		<td>2.0.33</td>
	</tr>
</table>

<sup>*</sup> For more information, see the <a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.12.8">v3.12.8</a>, <a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.11.25">v3.11.25</a>, and <a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.10.25">v3.10.25</a> GitHub documentation.

## <a id="2-2-6"></a> v2.2.6

**Release Date:** September 25, 2023

Upgrade existing service instances to RabbitMQ v3.11, and run the `upgrade-all-on-demand-instances`
errand, before upgrading service instances to RabbitMQ v3.12.

### Resolved Issues

There are no resolved issues in this release.

### Known Issues

This release has the following known issues:

<%= partial vars.path_to_partials + "/rabbitmq/erlang-ki" %>

### Compatibility

The following components are compatible with this release:

<table class="table"> 
<thead><tr><th>Component</th> <th>Version</th></tr></thead>
  <tr>
		<td><%= vars.app_runtime_full %></td>
		<td>2.11.16 or later, 2.12.x, 2.13.x, 3.0.x, 4.0.x, 5.0.x </td>
	</tr>
	<tr>
		<td>Erlang</td>
		<td>25.3.2.6</td>
	</tr>
	<tr>
		<td>HAProxy</td>
		<td>2.6.15</td>
	</tr>
	<tr>
		<td>OSS RabbitMQ*</td>
		<td>3.10.25, 3.11.23, and 3.12.4</td>
	</tr>
	<tr>
		<td>Stemcell</td>
		<td>1.x</td>
	</tr>
	<tr>
		<td>bpm</td>
		<td>1.2.7</td>
	</tr>
	<tr>
		<td>cf-cli</td>
		<td>1.47.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq</td>
		<td>549.0.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq-multitenant-broker</td>
		<td>163.0.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq-smoke-tests</td>
		<td>192.0.0</td>
	</tr>
	<tr>
		<td>cf-service-gateway</td>
		<td>123.0.0</td>
	</tr>
	<tr>
		<td>count-cores-indicator</td>
		<td>2.0.0</td>
	</tr>
	<tr>
		<td>loggregator-agent</td>
		<td>7.6.2</td>
	</tr>
	<tr>
		<td>on-demand-service-broker</td>
		<td>0.43.3</td>
	</tr>
	<tr>
		<td>rabbitmq-metrics</td>
		<td>123.0.0</td>
	</tr>
	<tr>
		<td>rabbitmq-on-demand-adapter</td>
		<td>270.0.0</td>
	</tr>
	<tr>
		<td>routing</td>
		<td>0.280.0</td>
	</tr>
	<tr>
		<td>service-metrics</td>
		<td>2.0.32</td>
	</tr>
</table>

<sup>*</sup> For more information, see the
[v3.10.25](https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.10.25),
[v3.11.23](https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.11.23), and
[v3.12.4](https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.12.4) release notes in GitHub.

## <a id="2-2-5"></a> v2.2.5

**Release Date:** July 21, 2023

### Resolved Issues

This release has the following fix:

- Resolves an issue where enabling OAuth2 could result in a failure to deploy instances.

### Known Issues

This release has the following known issues:

<%= partial vars.path_to_partials + "/rabbitmq/erlang-ki" %>

### Compatibility

The following components are compatible with this release:

<table class="table"> 
  <thead><tr><th>Component</th> <th>Version</th></tr></thead>
  <tr>
		<td><%= vars.app_runtime_full %></td>
		<td>2.11.16 or later, 2.12.x, 2.13.x, 3.0.x, 4.0.x</td>
	</tr>
	<tr>
		<td>Erlang</td>
		<td>25.3.2.4</td>
	</tr>
	<tr>
		<td>HAProxy</td>
		<td>2.6.14</td>
	</tr>
	<tr>
		<td>OSS RabbitMQ*</td>
		<td>3.10.25 and 3.11.20</td>
	</tr>
	<tr>
		<td>Stemcell</td>
		<td>1.x</td>
	</tr>
	<tr>
		<td>bpm</td>
		<td>1.2.4</td>
	</tr>
	<tr>
		<td>cf-cli</td>
		<td>1.45.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq</td>
		<td>532.0.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq-multitenant-broker</td>
		<td>152.0.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq-smoke-tests</td>
		<td>181.0.0</td>
	</tr>
	<tr>
		<td>cf-service-gateway</td>
		<td>114.0.0</td>
	</tr>
	<tr>
		<td>count-cores-indicator</td>
		<td>2.0.0</td>
	</tr>
	<tr>
		<td>loggregator-agent</td>
		<td>7.3.0</td>
	</tr>
	<tr>
		<td>on-demand-service-broker</td>
		<td>0.43.2</td>
	</tr>
	<tr>
		<td>rabbitmq-metrics</td>
		<td>116.0.0</td>
	</tr>
	<tr>
		<td>rabbitmq-on-demand-adapter</td>
		<td>260.0.0</td>
	</tr>
	<tr>
		<td>routing</td>
		<td>0.275.0</td>
	</tr>
	<tr>
		<td>service-metrics</td>
		<td>2.0.30</td>
	</tr>
</table>

<sup>*</sup> For more information, see the <a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.10.25">v3.10.25</a> and <a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.11.20">v3.11.20</a> GitHub documentation.

## <a id="2-2-4"></a> v2.2.4

**Release Date:** June 29, 2023

### Resolved Issues

This release has the following fix:

- Resolves an issue in route-registrar that caused unnecessary routing churn.

### Known Issues

This release has the following known issues:

- Enabling OAuth2 could result in a failure to deploy instances.

<%= partial vars.path_to_partials + "/rabbitmq/erlang-ki" %>

### Compatibility

The following components are compatible with this release:

<table class="table"> 
  <thead><tr><th>Component</th> <th>Version</th></tr></thead>
  <tr>
		<td><%= vars.app_runtime_full %></td>
		<td>2.11.16 or later, 2.12.x, 2.13.x, 3.0.x, 4.0.x</td>
	</tr>
	<tr>
		<td>Erlang</td>
		<td>25.3.2.2</td>
	</tr>
	<tr>
		<td>HAProxy</td>
		<td>2.6.14</td>
	</tr>
	<tr>
		<td>OSS RabbitMQ*</td>
		<td>3.10.24 and 3.11.19</td>
	</tr>
	<tr>
		<td>Stemcell</td>
		<td>1.x</td>
	</tr>
	<tr>
		<td>bpm</td>
		<td>1.2.3</td>
	</tr>
	<tr>
		<td>cf-cli</td>
		<td>1.46.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq</td>
		<td>525.0.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq-multitenant-broker</td>
		<td>152.0.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq-smoke-tests</td>
		<td>178.0.0</td>
	</tr>
	<tr>
		<td>cf-service-gateway</td>
		<td>111.0.0</td>
	</tr>
	<tr>
		<td>count-cores-indicator</td>
		<td>2.0.0</td>
	</tr>
	<tr>
		<td>loggregator-agent</td>
		<td>7.2.2</td>
	</tr>
	<tr>
		<td>on-demand-service-broker</td>
		<td>0.43.1</td>
	</tr>
	<tr>
		<td>rabbitmq-metrics</td>
		<td>113.0.0</td>
	</tr>
	<tr>
		<td>rabbitmq-on-demand-adapter</td>
		<td>258.0.0</td>
	</tr>
	<tr>
		<td>routing</td>
		<td>0.272.0</td>
	</tr>
	<tr>
		<td>service-metrics</td>
		<td>2.0.29</td>
	</tr>
</table>

<sup>*</sup> For more information, see the <a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.10.24">v3.10.24</a> and <a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.11.19">v3.11.19</a> GitHub documentation.

## <a id="2-2-3"></a> v2.2.3

**Release Date:** May 15, 2023

### Resolved Issues

This release has the following fix:

- **Failed upgrades to RabbitMQ v3.11:** Attempts to upgrade to RabbitMQ v3.11 failed for instances that
  were created before RabbitMQ v3.8.
  To upgrade such instances to RabbitMQ v3.11:
      1. Install the <%= vars.product_full %> v2.2.3 tile.
      2. Select RabbitMQ v3.10 and run the `upgrade-all-on-demand-instances` errand.
      3. Select RabbitMQ v3.11 and run the `upgrade-all-on-demand-instances` errand again.

### Known Issues

This release has the following known issues:

- Enabling OAuth2 could result in a failure to deploy instances.

<%= partial vars.path_to_partials + "/rabbitmq/erlang-ki" %>

### Compatibility

The following components are compatible with this release:

<table class="table"> 
  <thead><tr><th>Component</th> <th>Version</th></tr></thead>
  <tr>
		<td><%= vars.app_runtime_full %></td>
		<td>2.11.16 or later, 2.12.x, 2.13.x, 3.0.x, 4.0.x</td>
	</tr>
	<tr>
		<td>Erlang</td>
		<td>25.3.2</td>
	</tr>
	<tr>
		<td>HAProxy</td>
		<td>2.6.13</td>
	</tr>
	<tr>
		<td>OSS RabbitMQ*</td>
		<td>3.10.22 and 3.11.15</td>
	</tr>
	<tr>
		<td>Stemcell</td>
		<td>1.x</td>
	</tr>
	<tr>
		<td>bpm</td>
		<td>1.2.1</td>
	</tr>
	<tr>
		<td>cf-cli</td>
		<td>1.44.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq</td>
		<td>511.0.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq-multitenant-broker</td>
		<td>147.0.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq-smoke-tests</td>
		<td>173.0.0</td>
	</tr>
	<tr>
		<td>cf-service-gateway</td>
		<td>106.0.0</td>
	</tr>
	<tr>
		<td>count-cores-indicator</td>
		<td>2.0.0</td>
	</tr>
	<tr>
		<td>loggregator-agent</td>
		<td>7.2.1</td>
	</tr>
	<tr>
		<td>on-demand-service-broker</td>
		<td>0.43.0</td>
	</tr>
	<tr>
		<td>rabbitmq-metrics</td>
		<td>109.0.0</td>
	</tr>
	<tr>
		<td>rabbitmq-on-demand-adapter</td>
		<td>251.0.0</td>
	</tr>
	<tr>
		<td>routing</td>
		<td>0.266.0</td>
	</tr>
	<tr>
		<td>service-metrics</td>
		<td>2.0.28</td>
	</tr>
</table>

<sup>*</sup> For more information, see the <a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.10.22">v3.10.22</a> and <a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.11.15">v3.11.15</a> GitHub documentation.

## <a id="2-2-2"></a> v2.2.2

**Release Date:** March 27, 2023

### Resolved Issues

This release fixes the following issues:

- **Auth code flow for accessing the RabbitMQ management interface:**
  When you configure OAuth2, access to the RabbitMQ management interface is by auth code flow. This improves security.

### Known Issues

This release has the following known issues:

- **Failed upgrades to RabbitMQ v3.11:** Attempts to upgrade to RabbitMQ v3.11 can fail for instances
that were created before RabbitMQ v3.8.

<%= partial vars.path_to_partials + "/rabbitmq/erlang-ki" %>

### Compatibility

The following components are compatible with this release:

<table class="table"> 
  <thead><tr><th>Component</th> <th>Version</th></tr></thead>
	<tr>
		<td><%= vars.app_runtime_full %></td>
		<td>2.11.16 or later, 2.12.x, 2.13.x, 3.0.x, 4.0.x</td>
	</tr>
	<tr>
		<td>Erlang</td>
		<td>25.3</td>
	</tr>
	<tr>
		<td>HAProxy</td>
		<td>2.6.11</td>
	</tr>
	<tr>
		<td>OSS RabbitMQ*</td>
		<td>3.10.20 and 3.11.11</td>
	</tr>
	<tr>
		<td>Stemcell</td>
		<td>1.x</td>
	</tr>
	<tr>
		<td>bpm</td>
		<td>1.1.21</td>
	</tr>
	<tr>
		<td>cf-cli</td>
		<td>1.44.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq</td>
		<td>500.0.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq-multitenant-broker</td>
		<td>143.0.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq-smoke-tests</td>
		<td>170.0.0</td>
	</tr>
	<tr>
		<td>cf-service-gateway</td>
		<td>102.0.0</td>
	</tr>
	<tr>
		<td>loggregator-agent</td>
		<td>7.1.2</td>
	</tr>
	<tr>
		<td>on-demand-service-broker</td>
		<td>0.43.0</td>
	</tr>
	<tr>
		<td>rabbitmq-metrics</td>
		<td>105.0.0</td>
	</tr>
	<tr>
		<td>rabbitmq-on-demand-adapter</td>
		<td>245.0.0</td>
	</tr>
	<tr>
		<td>routing</td>
		<td>0.260.0</td>
	</tr>
	<tr>
		<td>service-metrics</td>
		<td>2.0.26</td>
	</tr>
</table>

<sup>*</sup> For more information, see the <a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.10.20">v3.10.20</a> and <a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.11.11">v3.11.11</a> GitHub documentation.

## <a id="2-2-1"></a> v2.2.1

**Release Date:** March 16, 2023

### Resolved Issues

This release fixes the following issues:

- The Loggregator subsystem might fail to collect logs because of a missing certificate.
- If the metrics collection is set to a negative interval to deactivate collection, the deployment fails.

### Known Issues

This release has the following known issues:

<%= partial vars.path_to_partials + "/rabbitmq/erlang-ki" %>

### Compatibility

The following components are compatible with this release:

<table class="table">
  <thead><tr><th>Component</th> <th>Version</th></tr></thead>
  <tr>
    <td><%= vars.app_runtime_full %></td>
    <td>2.11.16 or later, 2.12.x, 2.13.x, 3.0.x</td>
  </tr>
  <tr>
    <td>Erlang</td>
    <td>25.2.3</td>
  </tr>
  <tr>
    <td>HAProxy</td>
    <td>2.6.9</td>
  </tr>
  <tr>
    <td>OSS RabbitMQ*</td>
    <td>3.10.18</td>
  </tr>
  <tr>
    <td>Stemcell</td>
    <td>1.x</td>
  </tr>
  <tr>
    <td>bpm</td>
    <td>1.1.21</td>
  </tr>
  <tr>
    <td>cf-cli</td>
    <td>1.41.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq</td>
    <td>492.0.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq-multitenant-broker</td>
    <td>139.0.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq-smoke-tests</td>
    <td>166.0.0</td>
  </tr>
  <tr>
    <td>cf-service-gateway</td>
    <td>97.0.0</td>
  </tr>
  <tr>
    <td>loggregator-agent</td>
    <td>7.1.2</td>
  </tr>
  <tr>
    <td>on-demand-service-broker</td>
    <td>0.42.6</td>
  </tr>
  <tr>
    <td>rabbitmq-metrics</td>
    <td>103.0.0</td>
  </tr>
  <tr>
    <td>rabbitmq-on-demand-adapter</td>
    <td>240.0.0</td>
  </tr>
  <tr>
    <td>routing</td>
    <td>0.259.0</td>
  </tr>
  <tr>
    <td>service-metrics</td>
    <td>2.0.26</td>
  </tr>
</table>

<sup>*</sup> For more information, see the <a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.10.18">v3.10.18</a> GitHub documentation.

## <a id="2-2-0"></a> v2.2.0

**Release Date:** January 18, 2023

### Features

New features and changes in this release:

- Jammy Stemcell and compatibility with Tanzu Application Service v3.0.

### Known Issues

This release has the following issues:

<%= partial vars.path_to_partials + "/rabbitmq/erlang-ki" %>
- The Loggregator subsystem might fail to collect logs because of a missing certificate.
- If the metrics collection is set to a negative interval to disable collection, deployment will fail.

### Resolved Issues

This release fixes the following issues:

- [CVE-2022-41720](https://nvd.nist.gov/vuln/detail/CVE-2022-41720). The golang issue is
  [56694](https://go.dev/issue/56694). It is fixed in Go v1.19.4.
- [CVE-2022-41717](https://nvd.nist.gov/vuln/detail/CVE-2022-41717). The golang issue is
  [56350](https://go.dev/issue/56350). It is fixed in Go v1.19.4.
- [RMQFPAS-82](https://pivotal-io.atlassian.net/browse/RMQFPAS-82). The fix is in
  [loggregator-agent-release v6.5.6](https://github.com/cloudfoundry/loggregator-agent-release/releases/tag/v6.5.6).

### Compatibility

The following components are compatible with this release:

<table class="table">
  <thead><tr><th>Component</th> <th>Version</th></tr></thead>
  <tr>
    <td><%= vars.app_runtime_full %></td>
    <td>2.11.x, 2.12.x, 2.13.x, 3.0.x</td>
  </tr>
  <tr>
    <td>Erlang</td>
    <td>24.3.4.7, 25.2</td>
  </tr>
  <tr>
    <td>HAProxy</td>
    <td>2.6.7</td>
  </tr>
  <tr>
    <td>OSS RabbitMQ<sup>*</sup></td>
    <td>3.9.27, 3.10.13</td>
  </tr>
  <tr>
    <td>Stemcell</td>
    <td>621.x</td>
  </tr>
  <tr>
    <td>bpm</td>
    <td>1.1.21</td>
  </tr>
  <tr>
    <td>cf-cli</td>
    <td>1.41.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq</td>
    <td>478.0.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq-multitenant-broker</td>
    <td>128.0.0</td>
  </tr>
  <tr>
    <td>cf-service-gateway</td>
    <td>91.0.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq-smoke-tests</td>
    <td>154.0.0</td>
  </tr>
  <tr>
    <td>loggregator-agent</td>
    <td>7.0.1</td>
  </tr>
  <tr>
    <td>on-demand-service-broker</td>
    <td>0.42.6</td>
  </tr>
  <tr>
    <td>rabbitmq-metrics</td>
    <td>96.0.0</td>
  </tr>
  <tr>
    <td>rabbitmq-on-demand-adapter</td>
    <td>227.0.0</td>
  </tr>
  <tr>
    <td>routing</td>
    <td>0.254.0</td>
  </tr>
  <tr>
    <td>service-metrics</td>
    <td>2.0.24</td>
  </tr>
</table>

<sup>*</sup> For more information, see the <a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.10.13">v3.10.13</a> GitHub documentation.

## <a id="view"></a> View Release Notes for another Version

To view the release notes for another product version, select the version from the drop-down menu at the top of this page.
